@model gBanker.Web.ViewModels.LoanSummaryViewModel

@{
    ViewBag.Title = "Opening Loan List";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var search = Model == null ? null : Model.SearchOption;
}


<style type="text/css">
    th {
        height: 40px;
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    span.jtable-column-header-text {
        margin-top: 0px !important;
    }
</style>
<script type="text/javascript">

    function deleteConfirm(status) {
        if (status == "true") {
            return confirm('Are you sure you want to delete this record');
        }
        else {
            alert("You cannot delete this record because it is already disabled.");
            return false;
        }
    }
</script>
<script type="text/javascript">
    function ledgerPost() {
        $("#loading").show();
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("LedgerPost", "LoanSummary", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            //data: { memberid: member, centerId: $("#CenterID").val() },
            //minLength: 1,
            success: function (data) {

                $("#loading").hide();
                var msg = "Ledger posted successful";
                var css = "success";
                if (data.Message != null) {
                    msg = data.Message;
                    css = "failed"
                }

                $("#dvMessage").attr('class', css);
                $("#dvMessage").html(msg);
                $("#dvMessage").show();
                if (data.Message == null)
                    $("#dvMessage").toggle('fade', 1500);

            },
            error: function (request, status, error) {
                $("#loading").hide();
                $("#dvMessage").attr('class', 'failed');
                $("#dvMessage").html(request.statusText);
                $("#dvMessage").show();
            }
        });
    }
    $(document).ready(function () {
        $("#confirmDlg").dialog({
            autoOpen: false,
            height: 150,
            width: 400,
            modal: true,
            title: 'Confirmation',
            buttons: {
                "Yes": function () {
                    ledgerPost();
                    $(this).dialog("close");
                },
                "No": function () {
                    //alert("No Office selected. Employee office will be used.");
                    $(this).dialog("close");
                }
            }
        });

        $('#btnPost').click(function (e) {
            e.preventDefault();
            $("#confirmDlg").dialog('open');
            //alert('sfdf');
      
        });
        //////////////////////////
        $('#grid').jtable({
           // title: 'LoanSummary List',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: function (postData, jtParams) {
                    console.log("Loading from custom function...");
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/LoanSummary/GetLoanSummary?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
               // listAction: '/LoanSummary/GetLoanSummary'

            },
            fields: {
                LoanSummaryID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                OfficeCode: {
                    title: 'Office Code',
                    width: '20%'

                },
                CenterCode: {
                    title: 'Samity Code',
                    width: '20%'
                },
                MemberCode: {
                    title: 'Member Code',
                    width: '40%'
                },
                ProductCode: {
                    title: 'Product Code',
                    width: '40%'
                                                                                            },
               
                LoanTerm: {
                    title: 'Loan Term',
                    width: '40%'
                },
                //PurposeCode: {
                //    title: 'Purpose Code',
                //    width: '20%'
                //},
                PrincipalLoan: {
                    title: 'Principal Loan',
                    width: '40%'
                },
                ApproveDate: {
                    title: 'Approve Date',
                    type: 'date',
                    displayFormat: 'd-M-yy',
                    width: '40%'
                },
                DisburseDate: {
                    title: 'Disburse Date',
                    type: 'date',
                    displayFormat: 'd-M-yy',
                    width: '40%'
                },
                Duration: {
                    title: 'Dura tion',
                    width: '40%'
                },
                LoanRepaid: {
                    title: 'Loan Repaid',
                    width: '40%'
                },
                IntCharge: {
                    title: 'SC. Charge',
                    width: '40%'
                },
                IntPaid: {
                    title: 'SC. Paid',
                    width: '40%'
                },
               
                InterestRate: {
                    title: 'SC. Rate',
                    width: '40%'
                },
                LoanInstallment: {
                    title: 'Loan Inst.',
                    width: '40%'
                },
                IntInstallment: {
                    title: 'SC. Inst.',
                    width: '40%'
                },
                InstallmentStartDate: {
                    title: 'Inst. StartDate',
                    type: 'date',
                    displayFormat: 'd-M-yy',
                    width: '40%'
                },
                InstallmentNo: {
                    title: 'Inst No.',
                    width: '40%'
                },
                InstallmentDate: {
                    title: 'Inst. Date',
                    type: 'date',
                    displayFormat: 'd-M-yy',
                    width: '40%'
                },
                
                //IsActive: {
                //    title: 'IsActive',
                //    width: '40%'
                //},
                EditLink: {
                    title: "Edit",
                    display: function (data) {
                        return "<div class='text-center'><a href='/LoanSummary/Edit/" + data.record.LoanSummaryID + "'><i class='fa fa-pencil-square-o'></i></a></div>";

                     }
                },

                DeleteLink: {
                    title: "Delete",
                    display: function (data) {
                        return '<div class="text-center delete-link"><a href="/LoanSummary/Delete/' + data.record.LoanSummaryID + '"' + " onclick='return confirm(" + '"Are you sure you want to delete this item?");' + "'" + "'><i class='fa fa-trash-o'></i></a></div>";

                      }
                }
            }
        });
        reloadGrid();
        //////////////////////////

    });

    function reloadGrid() {
        $('#grid').jtable('load', { filterColumn: $('#filterColumn').val(), filterValue: $('#filterValue').val() });
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @*<div class="row">
       
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.searchData, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownListFor(model => model.searchData, search, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.searchData, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
   

}
@Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-info btn-sm pull-right" })
<h2 class="page-title">LoanSummary List</h2>

<div>
    Filter By:&nbsp; <select id="filterColumn">
    <option value="">View All</option>
    <option value="CenterCode">Samity Code</option>
    <option value="MemberCode">Member Code</option>
     <option value="ProductCode">Product Code</option>
</select>
    <input type="text" class="search" id="filterValue" placeholder="Type Search Text" />
    <input type="button" id="btnSearch" value="Search" onclick="reloadGrid();" />
</div>

<div id="confirmDlg" style="display:none">
    <div class="form-group">
        Do you want Ledgerpost?
    </div>

</div>

<div id="grid"></div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}
<input id="btnPost" type="submit" value="PostToLedger" />