
@model gBanker.Data.DBDetailModels.OLRSHubs.OLRSHubPayloads.PRA_MN_IMP_COST_LN_SC_Model

@{
    ViewBag.Title = "Imputed Cost Loan Service Amount Data Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<a class="btn btn-info btn-sm pull-right" href="/LCdeWizSerChar/IMPLoanSCAmountData">Back to List</a>

<h2 class="page-title" style="margin: 0 0 10px;">@ViewBag.Title</h2>

<div class="program-data-details">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <h4> Month/Year <span class="label label-primary">@Model.MNYR</span></h4>
                </div>
                <div class="col-lg-3">
                    <h4> Service Charge Rate <span class="label label-success">@Model.SC_RATE</span></h4>
                </div>
               
                <div class="col-lg-3">
                    <h4> Total <span class="label label-warning">@Model.LOAN_TOTAL</span></h4>
                </div>
            </div>

        </div>
    </div>
    

    <div class="row">
        <div class="col-lg-6">
            <table class="table table-striped">

                <tr>
                    <td>@Model.LOAN_00_INFO</td>
                    <td>@Model.LOAN_00</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_01_INFO</td>
                    <td>@Model.LOAN_01</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_02_INFO</td>
                    <td>@Model.LOAN_02</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_03_INFO</td>
                    <td>@Model.LOAN_03</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_04_INFO</td>
                    <td>@Model.LOAN_04</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_05_INFO</td>
                    <td>@Model.LOAN_05</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_06_INFO</td>
                    <td>@Model.LOAN_06</td>
                </tr>


                <tr>
                    <td>@Model.LOAN_07_INFO</td>
                    <td>@Model.LOAN_07</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_08_INFO</td>
                    <td>@Model.LOAN_08</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_09_INFO</td>
                    <td>@Model.LOAN_09</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_10_INFO</td>
                    <td>@Model.LOAN_10</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_11_INFO</td>
                    <td>@Model.LOAN_11</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_12_INFO</td>
                    <td>@Model.LOAN_12</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_13_INFO</td>
                    <td>@Model.LOAN_13</td>
                </tr>


                <tr>
                    <td>@Model.LOAN_14_INFO</td>
                    <td>@Model.LOAN_14</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_15_INFO</td>
                    <td>@Model.LOAN_15</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_16_INFO</td>
                    <td>@Model.LOAN_16</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_17_INFO</td>
                    <td>@Model.LOAN_17</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_18_INFO</td>
                    <td>@Model.LOAN_18</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_19_INFO</td>
                    <td>@Model.LOAN_19</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_20_INFO</td>
                    <td>@Model.LOAN_20</td>
                </tr>


                <tr>
                    <td>@Model.LOAN_20_INFO</td>
                    <td>@Model.LOAN_20</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_21_INFO</td>
                    <td>@Model.LOAN_21</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_22_INFO</td>
                    <td>@Model.LOAN_22</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_23_INFO</td>
                    <td>@Model.LOAN_23</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_24_INFO</td>
                    <td>@Model.LOAN_24</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_25_INFO</td>
                    <td>@Model.LOAN_25</td>
                </tr>

                <tr>
                    <td>@Model.LOAN_26_INFO</td>
                    <td>@Model.LOAN_26</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_27_INFO</td>
                    <td>@Model.LOAN_27</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_28_INFO</td>
                    <td>@Model.LOAN_28</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_29_INFO</td>
                    <td>@Model.LOAN_29</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_30_INFO</td>
                    <td>@Model.LOAN_30</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_31_INFO</td>
                    <td>@Model.LOAN_31</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_32_INFO</td>
                    <td>@Model.LOAN_32</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_33_INFO</td>
                    <td>@Model.LOAN_33</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_34_INFO</td>
                    <td>@Model.LOAN_34</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_35_INFO</td>
                    <td>@Model.LOAN_35</td>
                </tr>


                <tr>
                    <td>@Model.LOAN_36_INFO</td>
                    <td>@Model.LOAN_36</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_37_INFO</td>
                    <td>@Model.LOAN_37</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_38_INFO</td>
                    <td>@Model.LOAN_38</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_39_INFO</td>
                    <td>@Model.LOAN_39</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_40_INFO</td>
                    <td>@Model.LOAN_40</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_41_INFO</td>
                    <td>@Model.LOAN_41</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_42_INFO</td>
                    <td>@Model.LOAN_42</td>
                </tr>


                <tr>
                    <td>@Model.LOAN_43_INFO</td>
                    <td>@Model.LOAN_43</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_44_INFO</td>
                    <td>@Model.LOAN_44</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_45_INFO</td>
                    <td>@Model.LOAN_45</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_46_INFO</td>
                    <td>@Model.LOAN_46</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_47_INFO</td>
                    <td>@Model.LOAN_47</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_48_INFO</td>
                    <td>@Model.LOAN_48</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_49_INFO</td>
                    <td>@Model.LOAN_49</td>
                </tr>


                <tr>
                    <td>@Model.LOAN_50_INFO</td>
                    <td>@Model.LOAN_50</td>
                </tr>

            </table>

        </div>
        <div class="col-lg-6">
            <table class="table table-striped">

                <tr>
                    <td>@Model.LOAN_51_INFO</td>
                    <td>@Model.LOAN_51</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_52_INFO</td>
                    <td>@Model.LOAN_52</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_53_INFO</td>
                    <td>@Model.LOAN_53</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_54_INFO</td>
                    <td>@Model.LOAN_54</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_55_INFO</td>
                    <td>@Model.LOAN_55</td>
                </tr>

                <tr>
                    <td>@Model.LOAN_56_INFO</td>
                    <td>@Model.LOAN_56</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_57_INFO</td>
                    <td>@Model.LOAN_57</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_58_INFO</td>
                    <td>@Model.LOAN_58</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_59_INFO</td>
                    <td>@Model.LOAN_59</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_60_INFO</td>
                    <td>@Model.LOAN_60</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_51_INFO</td>
                    <td>@Model.LOAN_51</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_52_INFO</td>
                    <td>@Model.LOAN_52</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_53_INFO</td>
                    <td>@Model.LOAN_53</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_54_INFO</td>
                    <td>@Model.LOAN_54</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_55_INFO</td>
                    <td>@Model.LOAN_55</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_56_INFO</td>
                    <td>@Model.LOAN_56</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_57_INFO</td>
                    <td>@Model.LOAN_57</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_58_INFO</td>
                    <td>@Model.LOAN_58</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_59_INFO</td>
                    <td>@Model.LOAN_59</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_60_INFO</td>
                    <td>@Model.LOAN_60</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_61_INFO</td>
                    <td>@Model.LOAN_61</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_62_INFO</td>
                    <td>@Model.LOAN_62</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_63_INFO</td>
                    <td>@Model.LOAN_63</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_64_INFO</td>
                    <td>@Model.LOAN_64</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_65_INFO</td>
                    <td>@Model.LOAN_65</td>
                </tr>

                <tr>
                    <td>@Model.LOAN_66_INFO</td>
                    <td>@Model.LOAN_66</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_67_INFO</td>
                    <td>@Model.LOAN_67</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_68_INFO</td>
                    <td>@Model.LOAN_68</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_69_INFO</td>
                    <td>@Model.LOAN_69</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_70_INFO</td>
                    <td>@Model.LOAN_70</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_71_INFO</td>
                    <td>@Model.LOAN_71</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_72_INFO</td>
                    <td>@Model.LOAN_72</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_73_INFO</td>
                    <td>@Model.LOAN_73</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_74_INFO</td>
                    <td>@Model.LOAN_74</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_75_INFO</td>
                    <td>@Model.LOAN_75</td>
                </tr>

                <tr>
                    <td>@Model.LOAN_76_INFO</td>
                    <td>@Model.LOAN_76</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_77_INFO</td>
                    <td>@Model.LOAN_77</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_78_INFO</td>
                    <td>@Model.LOAN_78</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_79_INFO</td>
                    <td>@Model.LOAN_79</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_80_INFO</td>
                    <td>@Model.LOAN_80</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_81_INFO</td>
                    <td>@Model.LOAN_81</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_82_INFO</td>
                    <td>@Model.LOAN_82</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_83_INFO</td>
                    <td>@Model.LOAN_83</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_84_INFO</td>
                    <td>@Model.LOAN_84</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_85_INFO</td>
                    <td>@Model.LOAN_85</td>
                </tr>

                <tr>
                    <td>@Model.LOAN_86_INFO</td>
                    <td>@Model.LOAN_86</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_87_INFO</td>
                    <td>@Model.LOAN_87</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_88_INFO</td>
                    <td>@Model.LOAN_88</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_89_INFO</td>
                    <td>@Model.LOAN_89</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_90_INFO</td>
                    <td>@Model.LOAN_90</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_91_INFO</td>
                    <td>@Model.LOAN_91</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_92_INFO</td>
                    <td>@Model.LOAN_92</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_93_INFO</td>
                    <td>@Model.LOAN_93</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_94_INFO</td>
                    <td>@Model.LOAN_94</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_95_INFO</td>
                    <td>@Model.LOAN_95</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_96_INFO</td>
                    <td>@Model.LOAN_96</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_97_INFO</td>
                    <td>@Model.LOAN_97</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_98_INFO</td>
                    <td>@Model.LOAN_98</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_99_INFO</td>
                    <td>@Model.LOAN_99</td>
                </tr>
                <tr>
                    <td>@Model.LOAN_100_INFO</td>
                    <td>@Model.LOAN_100</td>
                </tr>

            </table>

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}