@model IEnumerable<gBanker.Web.ViewModels.SpecialLoanCollectionViewModel>

@{
    ViewBag.Title = "Special Loan Collection List(Rebate And Transfer)";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    <link href="~/Content/jtable-custom.css" rel="stylesheet" />
}
<style type="text/css">
    th {
        height: 40px;
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    span.jtable-column-header-text {
        margin-top: 0px !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        confirmDayInitiated();
        $('#grid').jtable({
            // title: 'Special Collection List',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: function (postData, jtParams) {
                    console.log("Loading from custom function...");
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/SpecialLoanCollectionRebateAndTransfer/GetSpecialCollection?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },

                // listAction: '/SpecialLoanCollection/GetSpecialCollection',
                //updateAction: '/SpecialLoanCollection/Edit',

                deleteAction: '/SpecialLoanCollectionRebateAndTransfer/Delete'
                //deleteAction: '@Url.Action("DeleteDisburse")',
            },
            fields: {
                DailyLoanTrxID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                OfficeID: {
                    list: false,
                    create: false,
                    edit: false
                },
                OfficeCode: {
                    title: 'Office Code',
                    //width: '10%',
                    create: false,
                    edit: false
                },
                CenterID: {
                    list: false,
                    create: false,
                    edit: false
                },
                CenterCode: {
                    title: 'Samity Code',
                    // width: '10%',
                    create: false,
                    edit: false
                },
                MemberID: {
                    list: false,
                    create: false,
                    edit: false
                },
                MemberCode: {
                    title: 'Member Info',
                    //width: '15%',
                    create: false,
                    edit: true,
                    display: function (data) {
                        return data.record.MemberCode + ' - ' + data.record.MemberName;
                    },
                    input: function (data) {
                        if (data.record) {
                            return '<label>' + data.record.MemberCode + ' - ' + data.record.MemberName + '</label>';
                            //return '<input type="text" name="Name" style="width:200px" disabled="disabled" value="' + data.record.MemberCode + '" />';
                        } else {
                            return '<input type="text" name="Name" style="width:200px" value="enter your name here" />';
                        }
                    }
                },

                ProductID: {
                    list: false,
                    create: false,
                    edit: false
                },
                ProductCode: {
                    title: 'Product Code',
                    // width: '10%',
                    create: false,
                    edit: false
                },

                LoanTerm: {
                    title: 'LoanTerm',
                    list: true,
                    create: false,
                    edit: false
                },
                TrxType: {
                    title: 'TrxType',
                    width: '5%',
                    list: true,
                    create: false,
                    edit: false,
                    display: function (data) {
                        var id = '<input type="hidden"' + ' value="' + data.record.DailyLoanTrxID + '" /> ';
                        return id + '<input type="text" disabled="disabled" name="TrxType" style="width:30px"' + 'id="TrxType' + data.record.DailyLoanTrxID + '" value="' + data.record.TrxType + '" />';
                    }
                },
                TotalPaid: {
                    list: true,
                    create: true,
                    edit: true,
                    title: 'Total Paid',
                    width: '10%',
                    input: function (data) {
                        if (data.record) {
                            return '<input type="text" onkeypress="return checkNumberic(event);"  onblur="checkTotalPaid(' + data.record.DailyLoanTrxID + ');"' + ' id="TotalPaid" name="TotalPaid" style="width:200px"  value="' + data.record.TotalPaid + '" />';
                        } else {
                            return '<input type="text" name="TotalPaid" style="width:200px" value="" />';
                        }
                    }

                },


                LoanPaid: {
                    list: true,
                    create: true,
                    edit: true,
                    title: 'Loan Paid',
                    width: '10%',
                    input: function (data) {
                        var productId = '<input id="hdnProdId" type="hidden"' + ' value="' + data.record.ProductID + '" /> ';
                        if (data.record) {
                            return productId + '<input type="text" onkeypress="return checkNumberic(event);"  onkeyup="checkLoanInstallment(' + data.record.DailyLoanTrxID + ');"' + ' Id="LoanPaid" name="LoanPaid" style="width:200px"  value="' + data.record.LoanPaid + '" />';
                        } else {
                            return productId + '<input type="text" name="LoanPaid" style="width:200px" value="" />';
                        }
                    }
                },
                IntPaid: {
                    list: true,
                    create: true,
                    edit: true,
                    title: 'SC Paid',
                    width: '10%',
                    input: function (data) {
                        if (data.record) {
                            return '<input type="text" onkeypress="return checkNumberic(event);"  onkeyup="checkInterestInstallment(' + data.record.DailyLoanTrxID + ');"' + ' id="IntPaid" name="IntPaid" style="width:200px"  value="' + data.record.IntPaid + '" />';
                        } else {
                            return '<input type="text" name="IntPaid" style="width:200px" value="" />';
                        }
                    }
                }
                // ,
                //EditLink: {
                //    title: "Edit",
                //    display: function (data) {

                //        return "<div class='text-center'><a href='/SpecialLoanCollection/Edit/" + data.record.DailyLoanTrxID + "'><i class='fa fa-pencil-square-o'></i></a></div>";

                //        // return '<a href="/Product/Edit/' + data.record.ProductID + '">Edit</a>';
                //    }
                //}
            }
        });
        reloadGrid();
        // $('#grid').jtable('load');
        $('#EditDialogSaveButton').click(function () {
            $("#Edit-DisburseStatus").val('Disbursed');
        });
    });
    function reloadGrid() {
        $('#grid').jtable('load', { filterColumn: $('#filterColumn').val(), filterValue: $('#filterValue').val() });
    }
    function checkNumberic(e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    }

    function checkTotalPaid(loanInstallmentId) {
        var principal = $("#TotalPaid").val();
        var prodId = $("#hdnProdId").val();

        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetInstallment", "SpecialLoanCollectionRebateAndTransfer", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { productid: prodId, principal: principal },

            success: function (result) {

                $("#LoanPaid").val(result.loan);
                $("#IntPaid").val(result.interest);

            }
        });
    }
    function checkLoanInstallment(loanInstallmentId) {

        //var principal = 0;
        //var loanpaid = $("LoanPaid").val();
        //var IntPaid = $("IntPaid").val();
        //principal = Number(loanpaid) + Number(IntPaid);
        //$('#' + TotalPaid).val(principal);
    }
    function checkInterestInstallment(loanInstallmentId) {
        //alert(loanInstallmentId);
    }
</script>


@*<table style="width:100%;">
        <tr>
            <td style="width:90%"><h2>Special LoanCollection List</h2></td>
            <td>@Html.ActionLink("Add New", "Create")</td>
        </tr>
    </table>

    <hr />*@


@Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-info btn-sm pull-right" })
<h2 class="page-title">Special Loan Collection List(Transfer And Rebate)</h2>

<div class="row">
    <div class="col-md-1 text-right">
        <label class="control-label" style="padding-top:8px;">Filter By:</label>
    </div>
    <div class="col-md-3">

        <select id="filterColumn" class="form-control">
            <option value="">View All</option>
            <option value="CenterCode">Samity Code</option>
            <option value="MemberCode">Member Code</option>
            <option value="ProductCode">Product Code</option>
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" id="filterValue" placeholder="Type Search Text" class="form-control" />
    </div>
    <div class="col-md-5">
        <input type="button" id="btnSearch" value="Search" onclick="reloadGrid();" class="btn btn-primary" />
    </div>
</div>

@*<div>
        Filter By:&nbsp; <select id="filterColumn">
            <option value="">View All</option>
            <option value="CenterCode">Samity Code</option>
            <option value="MemberCode">Member Code</option>
            <option value="ProductCode">Product Code</option>
        </select>
        <input type="text" class="search" id="filterValue" placeholder="Type Search Text" />
        <input type="button" id="btnSearch" value="Search" onclick="reloadGrid();" />
    </div>*@

<div id="grid"></div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}


