@{
    ViewBag.Title = "Passbook Check Register";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script type="text/javascript">
    function GetHO(ddlVal) {
        var ddlHO = $("#ddlHO");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetHOList", "AccLedgerReport", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlHO.html('');
                $.each(data, function (id, option) {
                    ddlHO.append($('<option></option>').val(option.Value).html(option.Text));
                });
                if (ddlVal != null) {
                    $('#ddlHO').val(ddlVal);
                }
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }
    function GetZone(HO_val, ddlVal) {
        var ddlZone = $("#ddlZone");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetZoneList", "AccBalanceSheet", "http")',
            data: { HO_val: HO_val },
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlZone.html('');
                $.each(data, function (id, option) {
                    ddlZone.append($('<option></option>').val(option.Value).html(option.Text));
                });
                if (ddlVal != null) {
                    $('#ddlZone').val(ddlVal);
                }
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }

    function GetArea(HO_val, zone_val, ddlVal) {
        var ddlArea = $("#ddlArea");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetAreaList", "AccBalanceSheet", "http")',
            data: { HO_val: HO_val, zone_val: zone_val },
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlArea.html('');
                $.each(data, function (id, option) {
                    ddlArea.append($('<option></option>').val(option.Value).html(option.Text));
                });

                if (ddlVal != null) {
                    $('#ddlArea').val(ddlVal);

                }
                else {
                    $("#ddlArea").prop('selectedIndex', 0);
                }
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }

    function GetOffice(HO_val, zone_val, area_val, ddlVal) {
        var ddlOffice = $("#ddlOffice");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetOfficeList", "AccBalanceSheet", "http")',
            data: { HO_val: HO_val, zone_val: zone_val, area_val: area_val },
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlOffice.html('');
                $.each(data, function (id, option) {
                    ddlOffice.append($('<option></option>').val(option.Value).html(option.Text));
                });
                if (ddlVal != null) {
                    //alert(ddlVal)
                    $('#ddlOffice').val(ddlVal);
                    LoadCenter($('#ddlOffice').val())
                }
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }

    function CheckOffcLevel() {

        var offcLevel = $('#lblOffcLevel').html();
        var firstLevel = $('#lblFirstLevel').html();
        var secondLevel = $('#lblSecondLevel').html();
        var thirdLevel = $('#lblThirdLevel').html();
        var fourthLevel = $('#lblFourthLevel').html();
        //alert(offcLevel);
        if (offcLevel == 1) {
            GetHO(firstLevel);
            GetZone(firstLevel, secondLevel);
            GetArea(firstLevel, secondLevel, thirdLevel);
            GetOffice(firstLevel, secondLevel, thirdLevel, fourthLevel);
            $("#ddlHO").prop("disabled", true);
        }
        if (offcLevel == 2) {
            GetHO(firstLevel);
            GetZone(firstLevel, secondLevel);
            // GetArea(firstLevel, secondLevel, thirdLevel);
            GetArea(firstLevel, secondLevel, thirdLevel);
            GetOffice(firstLevel, secondLevel, thirdLevel, fourthLevel);
            $("#ddlHO").prop("disabled", true);
            $("#ddlZone").prop("disabled", true);
        }
        if (offcLevel == 3) {
            GetHO(firstLevel);
            GetZone(firstLevel, secondLevel);
            GetArea(firstLevel, secondLevel, thirdLevel);
            GetOffice(firstLevel, secondLevel, thirdLevel, fourthLevel);
            $("#ddlHO").prop("disabled", true);
            $("#ddlZone").prop("disabled", true);
            $("#ddlArea").prop("disabled", true);
        }
        if (offcLevel == 4) {
            GetHO(firstLevel);
            GetZone(firstLevel, secondLevel);
            GetArea(firstLevel, secondLevel, thirdLevel);
            GetOffice(firstLevel, secondLevel, thirdLevel, fourthLevel);
            $("#ddlHO").prop("disabled", true);
            $("#ddlZone").prop("disabled", true);
            $("#ddlArea").prop("disabled", true);
            $("#ddlOffice").prop("disabled", true);
        }
        
    }

   
    function LoadCenter(offID) {
        console.log(offID)

        if (offID > 0) {
            var ddlCenter = $("#ddlCenter");
            $.ajax({
                type: 'Post',
                contentType: "application/json; charset=utf-8",
                url: '/SSRSReport/GetCenterList?officeid=' + offID,
                dataType: 'json',
                async: true,
                success: function (data) {
                    ddlCenter.html('');
                    $.each(data, function (id, option) {
                        // alert(option.Text)
                        ddlCenter.append($('<option></option>').val(option.Value).html(option.Text));
                    });
                },
                error: function (request, status, error) {
                    alert(request.statusText + "/" + request.statusText + "/" + error);
                }
            });
        }
        else {
            $("#ddlCenter").empty();
        }
    }
    $(document).ready(function () {
        CheckOffcLevel();
        $("#loading").hide();

        $("#txtFromDt").datepicker(
         {
             dateFormat: "dd-M-yy",
             showAnim: "scale",
             changeMonth: true,
             changeYear: true,
             yearRange: "1920:2100"

         });
        $("#txtFromDt").datepicker(
        'setDate', new Date());
        $("#txtToDt").datepicker(
         {
             dateFormat: "dd-M-yy",
             showAnim: "scale",
             changeMonth: true,
             changeYear: true,
             yearRange: "1920:2100"

         });
        $("#txtToDt").datepicker(
        'setDate', new Date());

        $("#ddlHO").change(function () {
            var HO_val = $("#ddlHO").val();
            if (HO_val > 0) {
                var ddlZone = $("#ddlZone");
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetZoneList", "AccTrialBalance", "http")',
                    data: { HO_val: HO_val },
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        ddlZone.html('');
                        $.each(data, function (id, option) {
                            ddlZone.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                    },
                    error: function (request, status, error) {
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
            }
            else {
                $("#ddlZone").empty();
                $("#ddlArea").empty();
                $("#ddlOffice").empty();
            }
        });
        $("#ddlZone").change(function () {
            var HO_val = $("#ddlHO").val();
            var zone_val = $("#ddlZone").val();
            if (HO_val > 0 && zone_val > 0) {
                var ddlArea = $("#ddlArea");
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetAreaList", "AccTrialBalance", "http")',
                    data: { HO_val: HO_val, zone_val: zone_val },
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        ddlArea.html('');
                        $.each(data, function (id, option) {
                            ddlArea.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                        $("#ddlOffice").empty();
                    },
                    error: function (request, status, error) {
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
            }
            else {
                $("#ddlArea").empty();
                $("#ddlOffice").empty();
            }
        });
        $("#ddlArea").change(function () {
            var HO_val = $("#ddlHO").val();
            var zone_val = $("#ddlZone").val();
            var area_val = $("#ddlArea").val();
            if (HO_val > 0 && zone_val > 0) {
                var ddlOffice = $("#ddlOffice");
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetOfficeList", "AccTrialBalance", "http")',
                    data: { HO_val: HO_val, zone_val: zone_val, area_val: area_val },
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        ddlOffice.html('');
                        $.each(data, function (id, option) {
                            ddlOffice.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                    },
                    error: function (request, status, error) {
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
            }
            else {
                $("#ddlOffice").empty();
            }
        });
        $("#ddlOffice").on('change', function () {
            LoadCenter($(this).val())
        })

        $("#txtAccLevel").change(function () {
            var accLevel = $("#txtAccLevel").val();
            if (accLevel > 0) {
                var ddlAccName = $("#ddlAccName");
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetAccName", "SSRSReport", "http")',
                    data: { accLevel: accLevel },
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        debugger;
                        ddlAccName.html('');
                        $.each(data, function (id, option) {
                            ddlAccName.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                    },
                    error: function (request, status, error) {
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
            }
            else {
                $("#ddlAccName").empty();
            }
        });


        $("#btnView").click(function (e) {

            var qType;
            //$("#divLoading").show();
            if ($("#ddlHO").val() > 0) {
                var office_id;
                if ($("#ddlZone").val() > 0) {
                    if ($("#ddlArea").val() > 0) {
                        if ($("#ddlOffice").val() > 0) {
                            office_id = $("#ddlOffice").val();
                        }
                        else {
                            office_id = $("#ddlArea").val();
                        }
                    }
                    else {
                        office_id = $("#ddlZone").val();
                    }
                }
                else {
                    office_id = $("#ddlHO").val();
                }

                if ($('#chkOverall').is(":checked") == true)
                    qType = 1;
                else
                    qType = 0;

                var dateTo = $("#txtToDt").val();
                var url = '/SSRSReport/GeneratePassBookCheckRegisterReport?office_id=' + office_id + '&dateTo=' + dateTo + "&center=" + (!$("#ddlCenter").val() ? 0 : $("#ddlCenter").val());

                //$("#divLoading").hide();
                //window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
                window.open(url, '_blank');
            }
        });
    });
</script>
<h2 class="page-title"> Passbook Check Register </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <div class="row">
            <div class="col-md-12">
                @*<div class="form-group">
                        @Html.Label("Report", new { @class = "control-label" })
                        @Html.DropDownList("QTypeList", null, new { @ID = "txtQType", @class = "form-control" })
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Head Office", new { @class = "control-label" })
                    @Html.DropDownList("HOList", null, new { @ID = "ddlHO", @class = "form-control" })
                    @Html.Label(ViewData["OfficeLevel"].ToString(), new { @ID = "lblOffcLevel", style = "display:none;" })
                    @Html.Label(ViewData["FirstLevel"].ToString(), new { @ID = "lblFirstLevel", style = "display:none;" })
                    @Html.Label(ViewData["SecondLevel"].ToString(), new { @ID = "lblSecondLevel", style = "display:none;" })
                    @Html.Label(ViewData["ThirdLevel"].ToString(), new { @ID = "lblThirdLevel", style = "display:none;" })
                    @Html.Label(ViewData["FourthLevel"].ToString(), new { @ID = "lblFourthLevel", style = "display:none;" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Zone Office", new { @class = "control-label" })
                    @Html.DropDownList("ZoneList", null, new { @ID = "ddlZone", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Area Office", new { @class = "control-label" })
                    @Html.DropDownList("AreaList", null, new { @ID = "ddlArea", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Office", new { @class = "control-label" })
                    @Html.DropDownList("OfficeList", null, new { @ID = "ddlOffice", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Center</label>
                    <select id="ddlCenter" class="form-control"></select>
                </div>
            </div>
        </div>

        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("mainProductCode", new { @class = "control-label" })
                        @Html.TextBox(" ", ViewData["mainProductCode"].ToString(), new { @ID = "mainProductCode", @class = "form-control" })
                    </div>
                </div>
            </div>*@

        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.Label("Date From", new { @class = "control-label" })
                        @Html.TextBox(" ", ViewData["TrxDate"].ToString(), new { @ID = "txtFromDt", @class = "form-control" })
                    </div>
                </div>
            </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Label("Date To", new { @class = "control-label" })
                    @Html.TextBox(" ", ViewData["TrxDate"].ToString(), new { @ID = "txtToDt", @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group form-action">
                    <input type="button" value="View" class="btn btn-primary" id="btnView" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
