
@{
    ViewBag.Title = "Overdue List";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {

        $("#txtFromDt").datepicker(
               {
                   dateFormat: "dd-M-yy",
                   showAnim: "scale"
               });

        $("#txtToDt").datepicker(
            {
                dateFormat: "dd-M-yy",
                showAnim: "scale"
            });

        $("#btnView").click(function (e) {
            e.preventDefault();

            var DateFrom = $("#txtFromDt").val();
            var DateTo = $("#txtToDt").val();

            var url = '/OverdueMemberList/GenerateOverdueMemberListNewtReport?DateFrom=' + DateFrom + '&DateTo=' + DateTo;


            window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
        });

        $("#btnNewLoanee").click(function (e) {
            e.preventDefault();

            var DateFrom = $("#txtFromDt").val();
            var DateTo = $("#txtToDt").val();

            var url = '/OverdueMemberList/GenerateOverdueNewMemberListNewtReport?DateFrom=' + DateFrom + '&DateTo=' + DateTo;


            window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
        });
        $('#btnExport').click(function () {
            var url;
            var DateFrom = $("#txtFromDt").val();
            var DateTo = $("#txtToDt").val();
            
            window.location = '/OverdueMemberList/GenerateOverdueMemberListNewtReportExport?DateFrom=' + DateFrom + '&DateTo=' + DateTo;
            
        });
    });
</script>
<h2 class="page-title">Overdue Borrower List(New)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date from", new { @class = "control-label" })
                    @Html.TextBox(" ", ViewData["Trxdate"].ToString(), new { @ID = "txtFromDt", @class = "form-control" })
                    @*@Html.TextBox(" ", "", new { @ID = "txtToDt", @class = "form-control" })*@
                </div>
            </div>
            <div class="col-md-8">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Date To", new { @class = "control-label" })
                    @Html.TextBox(" ", ViewData["Trxdate"].ToString(), new { @ID = "txtToDt", @class = "form-control" })
                    @*@Html.TextBox(" ", "", new { @ID = "txtToDt", @class = "form-control" })*@
                </div>
            </div>
            <div class="col-md-8">&nbsp;</div>
        </div>
        <h2 class="page-title"></h2>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group from-action">
                    <input type="submit" value="View" class="btn btn-primary" id="btnView" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group from-action">
                    <input type="submit" value="New Due(This Month)" class="btn btn-primary" id="btnNewLoanee" />
                </div>
            </div>
            <div class="col-md-10">
                <div class="form-group from-action">
                    <input type="button" id="btnExport" value="Export" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

