@model gBanker.Web.ViewModels.RemittanceActivityViewModel

@{
    ViewBag.Title = "Remittance Activity Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<script>
    $(document).ready(function () {
        GetRemittanceActivityList();
    });
    function GetRemittanceActivityList() {
        $('#grid').jtable({
            paging: true,
            pageSize: 10,
            sorting: true,
            actions: {
                listAction: function (postData, jtParams) {
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/MRAReport/GetRemittanceActivityList?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);

                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                }

            },
            fields: {
                RemittanceActivityId: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                //OrgId: {
                //    key: true,
                //    list: false,
                //    create: false,
                //    edit: false
                //},
                //OfficeID: {
                //    key: true,
                //    list: false,
                //    create: false,
                //    edit: false
                //},
                NoOfClient: {
                    width: '5%',
                    title: 'NoOfClient',
                },
                TransactionDate: {
                    width: '7%',
                    title: 'TransactionDate',
                },
                RemittedAmount: {
                    width: '5%',
                    title: 'RemittedAmount',
                },
                Commission: {
                    width: '5%',
                    title: 'Commission',
                },
                LinkedBank: {
                    width: '10%',
                    title: 'LinkedBank',
                },
                Remark: {
                    width: '10%',
                    title: 'Remark',
                },               
                EditLink: {
                    title: "Edit",
                    width: '5%',
                    sorting: false,
                    display: function (data) {
                        debugger;
                        return "<div class='text-center'><a href='/MRAReport/EditRemittanceActivity?RemittanceActivityId=" + data.record.RemittanceActivityId + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                Delete: {
                    title: "Delete",
                    display: function (data) {
                        return '<div class="text-center"><a href="#" OnClick="DeleteRemittanceActivity(' + data.record.RemittanceActivityId + ');"><i class="fa fa-trash-o"></i></a></div>';
                    }
                }
            }
        });
        $('#grid').jtable('load');
    }
    function DeleteRemittanceActivity(RemittanceActivityId) {
        if (confirm("Are you sure you want to delete this record?") == true) {
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DeleteRemittanceActivity", "MRAReport", "http")',
                data: { RemittanceActivityId: RemittanceActivityId },
                dataType: 'json',
                async: true,
                success: function (Result) {
                    $('#grid').jtable('load');
                },
                error: function (request, status, error) {
                    alert(request.statusText + "/" + request.statusText + "/" + error);
                }
            });
            return true;
        }
        else {
            hiddenField.value = 'false';
            return false;
        }
    }
</script>
@Html.ActionLink("Add New", "CreateRemittanceActivity", null, new { @class = "pull-right" })
<h2 class="page-title">Remittance Activity List</h2>
<div class="row">
    <div class="col-md-12">
        <div id="grid"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}