
@model gBanker.Core.Filters.AccountCodeMappingSearchFilter

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Account Code Mapping List";
}

<a class="btn btn-info btn-sm pull-right" href="/OLRSAccChartMapping/Map">Add New [Mapping]</a>
<h2 class="page-title">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-3">
        <label class="control-label" title="Search from olrs account code and mfi account code"> Search Term</label>
        @Html.TextBoxFor(model => model.SearchTerm, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SearchTerm)
    </div>
    <div class="col-md-5" style="padding-top: 20px;">
        <input type="button" id="btnView" value="Search" class="btn btn-primary" />
        <button type="button" id="btnRefresh" class="btn btn-success"><i class="fa fa-refresh"></i> Reset</button>        
    </div>
</div>

<div class="raw">
    <div id="grid"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")

    <script src="~/Assets/js/olrs/accChartMappingManager.js"></script>
}

