@model gBanker.Web.ViewModels.UpozillaViewModel

@{
    ViewBag.Title = "Upozilla";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    <link href="~/Content/jtable-custom.css" rel="stylesheet" />
    <link href="~/Content/css/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/css/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
    //var districtList = Model == null ? null : Model.DistrictList;

}

<style type="text/css">
    .ui-autocomplete {
        overflow: auto;
        max-height: 100px;
    }

    .required:after {
        content: " *";
        color: red;
    }
</style>







<script type="text/javascript">
    $(document).ready(function () {

        $("#DistrictID").change(function () {
            var DistrictID = $("#DistrictID").val();

            loadUpozilla();

        });


        //loadUpozilla();

        $("#btnSave").click(function () {
            SaveUpozilla();
        });
        $("#btnUpdate").click(function () {
            UpdateUpozilla();
        });
        $("#btnReset").click(function () {
            ResetUpozilla();
        });
    });


    var rowNumber = 0;


    function loadUpozilla() {
        $("#btnUpdate").hide();
        $("#btnReset").hide();

        var UpozillaID = $("#UpozillaID").val();
        var dataSource = new kendo.data.DataSource({
            type: "aspnetmvc-ajax",
            pageSize: 25,
            schema: {
                data: "data", // records are returned in the "data" field of the response
                total: "total" // total number of records is in the "total" field of the response
            },
            serverPaging: true,   // enable server paging
            serverSorting: true,
            serverFiltering: true,
            transport: {
                read: {
                    url: '@Url.Action("ListUpozilla", "Village", "http")',
                    dataType: 'json',
                    data: { UpozillaID: 0, DistrictID: $('#DistrictID option:selected').val() }
                }
            }
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            groupable: false,
            reorderable: true,
            filterable: true,
            sortable: true,

            selectable: false,
            resizable: true,
            pageable: {
                //refresh: true,
                //pageSizes: true,
                buttonCount: 5
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            columns: [
                 //{ title: "SL No", width: 50, template: "#= renderNumber(data) #" },
                 {
                     title: "SL",
                     template: "#= ++record #",
                     width: 40
                 },
                 {
                     field: "UpozillaID",
                     hidden: true,
                     filterable: false
                 },
                 {
                     width: "150px",
                     field: "UpozillaCode",
                     filterable: true,
                     title: "Upozilla Code"
                 },
                 {
                     width: "150px",
                     field: "UpozillaName",
                     filterable: true,
                     title: "Upozilla Name"
                 },
                 {
                     width: "150px",
                     field: "DistrictCode",
                     filterable: true,
                     title: "District Code"
                 },
                 {
                     width: "150px",
                     field: "DistrictName",
                     filterable: true,
                     title: "District Name"
                 },
                 {
                     width: "50px",
                     title: 'Edit',
                     template: function (dataItem) {
                         return "<a href='#' OnClick='EditUpozilla(" + dataItem.UpozillaID + ",\""
                             + dataItem.UpozillaCode + "\",\""
                             + dataItem.UpozillaName + "\",\""
                             + dataItem.DistrictID + "\");'><i class='fa fa-pencil-square-o'></i></a>";
                     }
                 },
                 //{
                 //    width: "50px",
                 //    title: 'Delete (বাদ)',
                 //    template: function (dataItem) {
                 //        return "<a href='#' OnClick='InformationDelete(" + dataItem.UpozillaID + ");'><i class='fa fa-trash-o'></i></a>";
                 //    }
                 //}
            ]
        });



    }


    //create
    function GenerateUpozilla() {
        var item = {};
        item.UpozillaCode = $("#UpozillaCode").val();
        item.UpozillaName = $("#UpozillaName").val();
        item.DistrictID = $("#DistrictID").val();
        return item;
    }

    function GenerateUpdateUpozilla() {
        var item = {};
        item.UpozillaID = $("#UpozillaID").val();
        item.UpozillaCode = $("#UpozillaCode").val();
        item.UpozillaName = $("#UpozillaName").val();
        item.DistrictID = $("#DistrictID").val();
        return item;
    }

    //edit using jtable
    function ResetUpozilla() {
        $("#btnUpdate").hide();
        $("#btnSave").show();
        $("#btnReset").hide();
        ClearControl();
    }
    function EditUpozilla
        (UpozillaID,
            UpozillaCode,
            UpozillaName,
            DistrictID
        ) {
        $("#UpozillaID").val(UpozillaID);
        $("#UpozillaCode").val(UpozillaCode);
        $("#UpozillaName").val(UpozillaName);
        $("#DistrictID").val(DistrictID);

        $("#btnUpdate").show();
        $("#btnReset").show();
        $("#btnSave").hide();
    }

    function ClearControl() {
        $("#UpozillaID").val('');
        $("#UpozillaCode").val('');
        $("#UpozillaName").val('');
    }


    function SaveUpozilla() {
        var Upozilla = GenerateUpozilla();
        var DistrictID = $("#DistrictID").val();
        var UpozillaCode = $("#UpozillaCode").val();
        var UpozillaName = $("#UpozillaName").val();
        if (DistrictID != 0 && UpozillaCode != "" && UpozillaName != "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                async: true,
                cache: false,
                url: '@Url.Action("SaveUpozilla", "Village")',
                data: JSON.stringify({ Upozilla: Upozilla }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.alert.open('Success', data);
                    if (data == "Save Successfull") {
                        ClearControl();
                        //$('#grid').jtable('load');
                        loadUpozilla();
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        } else {
            $.alert.open('Alert', 'Please Select Required Field');
        }
    }

    function UpdateUpozilla() {
        var Upozilla = GenerateUpdateUpozilla();
        var DistrictID = $("#DistrictID").val();
        var UpozillaCode = $("#UpozillaCode").val();
        var UpozillaName = $("#UpozillaName").val();
        if (DistrictID != 0 && UpozillaCode != "" && UpozillaName != "") {
            $.ajax({
                type: "POST",
                dataType: "json",
                async: true,
                cache: false,
                url: '@Url.Action("UpdateUpozilla", "Village")',
                data: JSON.stringify({ Upozilla: Upozilla }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.alert.open('Success', data);
                    if (data == "Update Successfull") {
                        ClearControl();
                        loadUpozilla();
                        $("#btnSave").show();
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        } else {
            $.alert.open('Alert', 'Please Select Required Field');
        }
    }

    function InformationDelete(Id) {
        $.alert.open('confirm', 'Are you sure you want to delete this record?', function (button) {
            if (button == 'yes') {
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("InformationDeleteUpozilla", "Village", "http")',
                    data: { Id: Id },
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        if (data.result == 1) {
                            //$('#grid').jtable('load');
                            loadUpozilla();
                            $.alert.open("Error", data.message);
                        } else {
                            $.alert.open("Error", data.message);
                        }

                    },
                    error: function (request, status, error) {
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
                return true;
            }
            else {
                hiddenField.value = 'false';
                return false;
            }
        });
    }



</script>


<h2 class="page-title">Upozilla</h2>
@using (Html.BeginForm("SaveUpozilla", "Upozilla", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br /><br />
    <div id="AjaxLoader" class="ajaxLoader"></div>

    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-4 required">District Name</label>
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.DistrictID, Model.DistrictList, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-4 required">Upozilla Code</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.UpozillaCode, new { @class = "form-control required" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="control-label col-sm-4 required">Upozilla Name</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.UpozillaName, new { @class = "form-control required" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="button" value="Save" id="btnSave" class="btn btn-primary" />
                    <input type="button" value="Update" id="btnUpdate" class="btn btn-primary" />
                    <input type="button" value="Reset" id="btnReset" style="margin-left: 20px" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            @Html.HiddenFor(model => model.UpozillaID)
        </div>
    </div>
}

<br />
<h2 class="page-title">Upozilla List</h2>
<div id="grid"></div>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gbUtility")
}
<script src="~/Content/js/KendoJs/kendo.all.min.js"></script>
<script src="~/Content/js/KendoJs/kendo.aspnetmvc.min.js"></script>









