@model gBanker.Web.ViewModels.WorkingAreaLogViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WorkingAreaLogViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InActiveDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InActiveDate)
                @Html.ValidationMessageFor(model => model.InActiveDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkingAreaLogID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkingAreaLogID)
                @Html.ValidationMessageFor(model => model.WorkingAreaLogID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeID)
                @Html.ValidationMessageFor(model => model.OfficeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MainProductCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainProductCode)
                @Html.ValidationMessageFor(model => model.MainProductCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Program, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Program)
                @Html.ValidationMessageFor(model => model.Program)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkingArea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkingArea)
                @Html.ValidationMessageFor(model => model.WorkingArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Upzilla, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Upzilla)
                @Html.ValidationMessageFor(model => model.Upzilla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Municipality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Municipality)
                @Html.ValidationMessageFor(model => model.Municipality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Village, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Village)
                @Html.ValidationMessageFor(model => model.Village)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelfEnterprenuerMale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SelfEnterprenuerMale)
                @Html.ValidationMessageFor(model => model.SelfEnterprenuerMale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SelfEnterprenuerFeMale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SelfEnterprenuerFeMale)
                @Html.ValidationMessageFor(model => model.SelfEnterprenuerFeMale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidEnterPrenuerOwnFamilyMale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidEnterPrenuerOwnFamilyMale)
                @Html.ValidationMessageFor(model => model.PaidEnterPrenuerOwnFamilyMale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidEnterPrenuerOwnFamilyFeMale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidEnterPrenuerOwnFamilyFeMale)
                @Html.ValidationMessageFor(model => model.PaidEnterPrenuerOwnFamilyFeMale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidEnterPrenuerOutSideMale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidEnterPrenuerOutSideMale)
                @Html.ValidationMessageFor(model => model.PaidEnterPrenuerOutSideMale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidEnterPrenuerOutSideFeMale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidEnterPrenuerOutSideFeMale)
                @Html.ValidationMessageFor(model => model.PaidEnterPrenuerOutSideFeMale)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
