@model gBanker.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_ResetPasswordLayout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#ConfirmPassword").blur(function () {
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();
            if (newPassword != confirmPassword) {
                $("#ConfirmPassword").val('');
                alert("Please enter same password");
                return false;
            }
        });

        $("#setPassword").click(function () {
            SetNewPassword();
        });
    });
    function SetNewPassword() {
        var confirmPassword = $("#ConfirmPassword").val();
        var ResetCode = '@Model.ResetCode';
        if (confirmPassword != "") {
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SetNewPassword", "Account", "http")',
                data: JSON.stringify({ ConfirmPassword: confirmPassword, ResetCode: ResetCode }),
                dataType: 'json',
                async: true,
                success: function (data) {
                    if (data.result == 1) {
                        debugger;
                        alert(data.message);
                        $("#NewPassword").val('');
                        $("#ConfirmPassword").val('');
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
        else {
            $.alert.open("Error", "Please insert registered Email address");
        }
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=> model.ResetCode)
<fieldset>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="clearfix"></div><br />
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-8 center">
            <input type="button" name="setPassword" id="setPassword" class="btn btn-primary" value="Save New Password" />
            <a href="/Account/Login" class="btn btn-success">Back to Login Page</a>            
        </div>
    </div>
</fieldset>

}