
@{
    ViewBag.Title = "MemberAllLoanInformationReport";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@*<h2>MemberAllLoanInformationReport</h2>*@

<script type="text/javascript">
    function GetCenter() {
        var ddlCenter = $("#ddlCenter");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetCenterList", "GroupwiseReport", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlCenter.html('');
                $.each(data, function (id, option) {
                    ddlCenter.append($('<option></option>').val(option.Value).html(option.Text));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }

    function GetMember() {
        var ddlMember = $("#ddlMember");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemberList", "GroupwiseReport", "http")',
            data: { centerId: $("#ddlCenter option:selected").val() },
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlMember.html('');
                $.each(data, function (id, option) {
                    ddlMember.append($('<option></option>').val(option.MemberID).html(option.MemberName));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }
    $(document).ready(function () {
        GetCenter();
        //GetMember();

        $("#ddlCenter").change(function () {
            var ddlCenter = $("#ddlCenter option:selected").val();
            if (ddlCenter > 0) {
                GetMember();
            }
            else {
                GetMember();
            }
        });

        //$("#txtFromDt").datepicker(
        //{
        //    dateFormat: "dd-M-yy",
        //    showAnim: "scale"
        //});
        //$("#txtToDt").datepicker(
        //{
        //    dateFormat: "dd-M-yy",
        //    showAnim: "scale"
        //});

        $("#btnView").click(function (e) {
            e.preventDefault();
            //var DateFrom = $("#txtFromDt").val();
            //var DateTo = $("#txtToDt").val();
            var url;
            var center = $("#ddlCenter").val();
            var member = $("#ddlMember").val();
            //if (DateFrom != '' && DateTo != '') {
            if (center > 0) {
                url = '/GroupwiseReport/GenerateMemberAllLoanInformationReport?Center=' + center + '&Member=' + member;
            }
            //else if (center == 0) {
            //    url = '/GroupwiseReport/GenerateMemberBalanceInfoReport?Center=0 &DateTo=' + DateTo;;
            //}

                window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
            //}
            //else {
            //    alert('Date field cannot be blank')
            //}
        });
    });
</script>
<h2 class="page-title">Member All Loan Information Report</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Select Center", new { @class = "control-label" })
                @Html.DropDownList("CenterList", null, new { @ID = "ddlCenter", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Member", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("MemberList", null, new { @ID = "ddlMember", @class = "form-control" })
                @*@Html.TextBox("memberAutoComplete", "", new { @class = "form-control" })*@
            </div>
        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>

    @*<div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Date From", new { @class = "control-label" })
                @Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtFromDt", @class = "form-control" })
            </div>
        </div>
    </div>*@

    @*<div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Date To", new { @class = "control-label" })
                @Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtToDt", @class = "form-control" })
            </div>
        </div>
    </div>*@
    <h2 class="page-title"></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group from-action">
                <input type="submit" value="View" class="btn btn-primary" id="btnView" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}



