
@{
    ViewBag.Title = "POMIS_5_A_3_HQConsolidateReport";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#txtToDt").datepicker(
        {
            dateFormat: "dd-M-yy",
            showAnim: "scale"
        });

        $("#btnView").click(function (e) {
            e.preventDefault();
            var DateTo = $("#txtToDt").val();
            var url;
            if (DateTo != '') {
                var url = '/GroupwiseReport/GeneratePOMIS_5_A_3_HQConsolidateReport?Qtype=2&DateTo=' + DateTo;
                window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
            }
            else {
                alert('Date field cannot be blank')
            }
        });
    });
</script>
<h2 class="page-title">Notes to Balance Sheet (DMF, POIMS-5A_1&2)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                @Html.Label("Date To", new { @class = "control-label" })
                @Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtToDt", @class = "form-control" })
            </div>
        </div>
    </div>
    <h2 class="page-title"></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group from-action">
                <input type="submit" value="View" class="btn btn-primary" id="btnView" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}




