
@{
    ViewBag.Title = "QuarterlyBalanceReportDecline";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtToDt").datepicker(
        {
            dateFormat: "dd-M-yy",
            showAnim: "scale"
        });

        $("#btnView").click(function (e) {
            e.preventDefault();
            var Qtype = $("#ddlQtype").val();
            var DateTo = $("#txtToDt").val();
            var url;
            if (DateTo != '') {
                //var url = '/GroupwiseReport/GenerateQuarterlyBalanceReportDecline?Qtype=1&DateTo=' + DateTo;
                var url = '/GroupwiseReport/GenerateQuarterlyBalanceReportDecline?Qtype=' + Qtype + '&DateTo= '+ DateTo;
                                
                window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
            }
            else {
                alert('Date field cannot be blank')
            }
        });
    });
</script>
<h2 class="page-title">Balance Compare with Passbook(POMIS)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Date To", new { @class = "control-label" })
                @Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtToDt", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Report Type", new { @class = "control-label" })
                    @Html.DropDownList("QtypeList", new[] {
                       new SelectListItem() {Text="MemberWise", Value= "1",Selected = true},
                       new SelectListItem() {Text="SamityWise", Value="2"},
                       new SelectListItem() {Text="StaffWise", Value="3"},
                       new SelectListItem() {Text="BranchWise",Value="4"}},
                new { @ID = "ddlQtype", @class = "form-control" })
                </div>
            </div>
           <div class="col-md-8">&nbsp;</div>
     </div>
    <h2 class="page-title"></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group from-action">
                <input type="submit" value="View" class="btn btn-primary" id="btnView" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}







