@{
                /**/

                /**/

                ViewBag.Title = "Savings Recovery Register Center wise";
                Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<script type="text/javascript">



    

    function GetReportTypeId() {
        var ReportTypeId = $("#ReportTypeId");
        $("#ReportTypeId").change(function (e) {
            ReportTypeId = $("#ReportTypeId option:selected").val();
        });
    }


   function GetCenter() {
        var ddlCenter = $("#ddlCenter");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetCenterList", "GroupwiseReport", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlCenter.html('');
                $.each(data, function (id, option) {
                   ddlCenter.append($('<option></option>').val(option.Value).html(option.Text));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }

    function FnMainProductList() {

        var ddlMainProduct = $("#ddlMainProduct");
        $('#AjaxLoader').show();
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMainSavingProductList", "GroupwiseReport", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (data) {
                $('#AjaxLoader').hide();
                ddlMainProduct.html('');
                ddlMainProduct.append($('<option></option>').val(0).html("Select"));
                $.each(data, function (id, option) {
                    ddlMainProduct.append($('<option></option>').val(option.MainProductCode).html(option.MainItemName));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }



    $(document).ready(function () {
        GetReportTypeId();
        GetCenter();
        FnMainProductList();
        

        $("#txtFromDt").datepicker(
            {
                dateFormat: "dd-M-yy",
                showAnim: "scale"
            });
        $("#txtToDt").datepicker(
            {
                dateFormat: "dd-M-yy",
                showAnim: "scale"
            });

        $("#btnView").click(function (e) {
            e.preventDefault();
            var DateFrom = $("#txtFromDt").val();
            var DateTo = $("#txtToDt").val();
            var url;
            var Qtype;
            var center = $("#ddlCenter").val();
            var pint = $("#ddlMainProduct").val();
            var product = parseInt(pint);

            var ReportTypeId = $("#ReportTypeId").val();

            if (ReportTypeId==1) {
                Qtype = 1;
            }
            else if (ReportTypeId == 2) {
                Qtype = 2;
            }

            if (DateFrom != '' && DateTo != '') {
                url = '/GroupwiseReport/GenerateSavingsRecoveryRegisterCenterWise?Center=' + center + '&product=' + product + '&DateFrom=' + DateFrom + '&DateTo=' + DateTo + '&Qtype=' + Qtype;
                window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');
            }
            else {
                alert('Date field cannot be blank')
            }
        });


    });// END of Document Ready

</script>
<h2 class="page-title">
    Savings Recovery Register
</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Select Report Type", new { @class = "control-label" })
                @Html.DropDownList("ReportTypeId", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Product Wise", Value = "1" },
                    new SelectListItem{ Text="Center Wise", Value = "2" },
                    
                 }, new {@class = "form-control" })
            </div>
        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Select Center", new { @class = "control-label" })
                @Html.DropDownList("CenterList", null, new { @ID = "ddlCenter", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Main Product", new { @class = "control-label" })
                @Html.DropDownList("MainProductView", null, new { @id = "ddlMainProduct", @class = "form-control" })
                @*@Html.TextBox(" ", "", new { @ID = "txtToDt", @class = "form-control" })*@
            </div>
        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Date From", new { @class = "control-label" })
                @Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtFromDt", @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Date To", new { @class = "control-label" })
                @Html.TextBox(" ", ViewData["TrxDate"], new { @ID = "txtToDt", @class = "form-control" })
            </div>
        </div>
    </div>

    <h2 class="page-title"></h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group from-action">
                <input type="submit" value="View" class="btn btn-primary" id="btnView" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}


