@model gBanker.Web.ViewModels.LoanCorrectionViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LoanCorrectionViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InActiveDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InActiveDate)
                @Html.ValidationMessageFor(model => model.InActiveDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanCorrectionTrxID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanCorrectionTrxID)
                @Html.ValidationMessageFor(model => model.LoanCorrectionTrxID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrxDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrxDate)
                @Html.ValidationMessageFor(model => model.TrxDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanSummaryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanSummaryID)
                @Html.ValidationMessageFor(model => model.LoanSummaryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeID)
                @Html.ValidationMessageFor(model => model.OfficeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OfficeCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OfficeCode)
                @Html.ValidationMessageFor(model => model.OfficeCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberID)
                @Html.ValidationMessageFor(model => model.MemberID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberCode)
                @Html.ValidationMessageFor(model => model.MemberCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberName)
                @Html.ValidationMessageFor(model => model.MemberName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductID)
                @Html.ValidationMessageFor(model => model.ProductID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCode)
                @Html.ValidationMessageFor(model => model.ProductCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestCalculationMethod, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestCalculationMethod)
                @Html.ValidationMessageFor(model => model.InterestCalculationMethod)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CenterID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CenterID)
                @Html.ValidationMessageFor(model => model.CenterID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CenterCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CenterCode)
                @Html.ValidationMessageFor(model => model.CenterCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberCategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberCategoryID)
                @Html.ValidationMessageFor(model => model.MemberCategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanTerm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanTerm)
                @Html.ValidationMessageFor(model => model.LoanTerm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurposeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurposeID)
                @Html.ValidationMessageFor(model => model.PurposeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallmentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstallmentDate)
                @Html.ValidationMessageFor(model => model.InstallmentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrincipalLoan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrincipalLoan)
                @Html.ValidationMessageFor(model => model.PrincipalLoan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanRepaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanRepaid)
                @Html.ValidationMessageFor(model => model.LoanRepaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanDue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanDue)
                @Html.ValidationMessageFor(model => model.LoanDue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanPaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanPaid)
                @Html.ValidationMessageFor(model => model.LoanPaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CumIntCharge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CumIntCharge)
                @Html.ValidationMessageFor(model => model.CumIntCharge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntCharge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntCharge)
                @Html.ValidationMessageFor(model => model.IntCharge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntDue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntDue)
                @Html.ValidationMessageFor(model => model.IntDue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntPaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntPaid)
                @Html.ValidationMessageFor(model => model.IntPaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Advance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Advance)
                @Html.ValidationMessageFor(model => model.Advance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueRecovery, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueRecovery)
                @Html.ValidationMessageFor(model => model.DueRecovery)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrxType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrxType)
                @Html.ValidationMessageFor(model => model.TrxType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallmentNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstallmentNo)
                @Html.ValidationMessageFor(model => model.InstallmentNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeID)
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPaid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPaid)
                @Html.ValidationMessageFor(model => model.TotalPaid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.memName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.memName)
                @Html.ValidationMessageFor(model => model.memName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vMaxLoanTerm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vMaxLoanTerm)
                @Html.ValidationMessageFor(model => model.vMaxLoanTerm)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
