
@model gBanker.Core.Filters.BaseSearchFilter

@{
    ViewBag.Title = "Sent Log SMS Summary";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<style type="text/css">
    .summaryTitle {
        color: yellow !important;
        padding-left: 5px !important;
    }

    th {
        height: 40px;
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    span.jtable-column-header-text {
        margin-top: 0px !important;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    }

    /* When the body has the loading class, we turn
    the scrollbar off with overflow:hidden */
    body.loading {
        overflow: hidden;
    }

        /* Anytime the body has the loading class, our
    modal element will be visible */
        body.loading .modal {
            display: block;
        }

    .findElement {
        background-color: yellow;
    }

    .hidemsg {
        display: none;
    }
    /*.input{
        font-size:40px;
    }*/
</style>

<h2 class="page-title">Sent Log SMS Summary</h2>

<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label" style="padding-top:0px;">Office</label>
                @Html.DropDownListFor(model => model.OfficeId, Model.OfficeList, new { @multiple = "multiple", @class = "ddl-select-picker form-control" })
            </div>
            <div class="col-md-4">
                <label class="control-label" style="padding-top:0px;">Date From:</label>
                @Html.TextBoxFor(model => model.StartDateInString, new { @placeholder = "start date", @class = "form-control sms-smry-datepicker", @autocomplete = "off" })
            </div>
            <div class="col-md-4">
                <label class="control-label" style="padding-top:0px;">Date To:</label>
                @Html.TextBoxFor(model => model.EndDateInString, new { @placeholder = "end date", @class = "form-control sms-smry-datepicker", @autocomplete = "off" })
            </div>
        </div>

        <div class="row" style="padding-top: 5px;">
            <div class="col-md-12">
                <button type="button" id="btn-search" class="btn btn-success"> <i class="fa fa-search"></i> Search</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div id="grid"> </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
    @Scripts.Render("~/bundles/searchable")

    <link href="~/Assets/js/plugins/boostrap-selelect/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/Assets/js/plugins/boostrap-selelect/bootstrap-select.min.js"></script>

    <script src="~/Assets/js/sms/sentLogSMSSummarySMSManager.js"></script>
}
