@model gBanker.Web.ViewModels.MemberDetailViewModel
@{
    ViewBag.Title = "Family Member Details";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var gen = Model == null ? null : Model.GenderList;
    var center = Model == null ? null : Model.CenterList;
    var relation = Model == null ? null : Model.FamilyMemRelationshipList;
    var mar = Model == null ? null : Model.MaritalStatusList;
}
<script type="text/javascript">
    /*OLD form JS Start */
    function LoadEditFamilyInfo(MemberFamilyID, MemName, Age, Gen, Relation, Occu, Nid, mno, mars, occa2, PhyDis, SocSec, Letter, Address, FinishClass, DropClass, Study, Signature) {
        //$('#MemberID').val(MemberFamilyID);
        $("#hdnFamilySave").val('U');
        $("#hdnFamilyEditId").val(MemberFamilyID);
        $('#FamilyMemName').val(MemName);
        $('#FamilyMemAge').val(Age);
        $('#FamilyMemGender').val(Gen);
        $('#FamilyMemRelationship').val(Relation);
        $('#FamilyMemOccupation').val(Occu);
        if (Nid == 'null') {
            $('#NationalIdNo').val('');
        } else {
            $('#NationalIdNo').val(Nid);
        }
        if (mno == 'null') {
            $('#MobileNo').val('');
        } else {
            $('#MobileNo').val(mno);
        }
        if (mars == 'null') {
            $('#MaritalStatus').val('');
        } else {
            $('#MaritalStatus').val(mars);
        }
        if (occa2 == 'null') {
            $('#FamilyMemOccupation2').val('');
        } else {
            $('#FamilyMemOccupation2').val(occa2);
        }
        if (PhyDis == true)
            $('#PhysicalDisability').prop('checked', true);
        else
            $('#PhysicalDisability').prop('checked', false);

        if (SocSec == 'null') {
            $('#SocialSecurity').val('');
        } else {
            $('#SocialSecurity').val(SocSec);
        }

        if (Letter == true)
            $('#chkLetterWriting').prop('checked', true);
        else
            $('#chkLetterWriting').prop('checked', false);

        if (Address == true)
            $('#chkAddressWriting').prop('checked', true);
        else
            $('#chkAddressWriting').prop('checked', false);

        if (FinishClass == true)
            $('#chkClassFive').prop('checked', true);
        else
            $('#chkClassFive').prop('checked', false);

        if (DropClass == true)
            $('#chkDropClassFive').prop('checked', true);
        else
            $('#chkDropClassFive').prop('checked', false);

        if (Study == true)
            $('#chkStudying').prop('checked', true);
        else
            $('#chkStudying').prop('checked', false);

        if (Signature == true)
            $('#chkSignature').prop('checked', true);
        else
            $('#chkSignature').prop('checked', false);

    }
    function DeleteFamilyInfo(FamilyEditId) {
        var r = confirm("Are you sure you want to cancel?");
        if (r == true) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetMemFamilyDelete", "MemberDetail", "http")',
                type: "GET",
                dataType: 'json',
                async: true,
                data: { FamilyEditId: FamilyEditId },
                success: function (mem_family_id) {
                    if (mem_family_id > 0) {
                        $(".family_success").show(800).fadeToggle(3000);
                        $('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                        $('#gridFamilyNew').jtable('load', { MemId: $('#MemberID').val() });
                    }
                    else {
                        $(".family_failed").show(800).fadeToggle(3000);
                    }
                },
                error: function (err) {
                    $(".family_failed").show(800).fadeToggle(3000);
                }
            });
        }
        else {
            //
        }
    }
    function LoadHouseInfo(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemHouseInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnHouseSave").val('U');
                    $("#hdnHouseEditId").val(result.MemberHouseID);
                    if(result.HomeWallPathkhari == true)
                        $('#chkHomeWallPathkhari').prop('checked', true);
                    else
                        $('#chkHomeWallPathkhari').prop('checked', false);

                    if (result.HomeWallBash == true)
                        $('#chkHomeWallBash').prop('checked', true);
                    else
                        $('#chkHomeWallBash').prop('checked', false);

                    if (result.HomeWallSchan == true)
                        $('#chkHomeWallSchan').prop('checked', true);
                    else
                        $('#chkHomeWallSchan').prop('checked', false);

                    if (result.HomeWallPaka == true)
                        $('#chkHomeWallPaka').prop('checked', true);
                    else
                        $('#chkHomeWallPaka').prop('checked', false);

                    if (result.HomeWallMati == true)
                        $('#chkHomeWallMati').prop('checked', true);
                    else
                        $('#chkHomeWallMati').prop('checked', false);

                    if (result.HomeWallTin == true)
                        $('#chkHomeWallTin').prop('checked', true);
                    else
                        $('#chkHomeWallTin').prop('checked', false);

                    if (result.HomeWallOther == true)
                        $('#chkHomeWallOther').prop('checked', true);
                    else
                        $('#chkHomeWallOther').prop('checked', false);

                    if (result.HomeRoofTin == true)
                        $('#chkHomeRoofTin').prop('checked', true);
                    else
                        $('#chkHomeRoofTin').prop('checked', false);

                    if (result.HomeRoofSchan == true)
                        $('#chkHomeRoofSchan').prop('checked', true);
                    else
                        $('#chkHomeRoofSchan').prop('checked', false);

                    if (result.HomeRoofKhar == true)
                        $('#chkHomeRoofKhar').prop('checked', true);
                    else
                        $('#chkHomeRoofKhar').prop('checked', false);

                    if (result.HomeRoofTinSchan == true)
                        $('#chkHomeRoofTinSchan').prop('checked', true);
                    else
                        $('#chkHomeRoofTinSchan').prop('checked', false);

                    if (result.HomeRoofOther == true)
                        $('#chkHomeRoofOther').prop('checked', true);
                    else
                        $('#chkHomeRoofOther').prop('checked', false);

                }
                else {
                    console.log('save');
                    $("#hdnHouseSave").val('S');
                    $("#hdnHouseEditId").val(0);
                    $('#chkHomeWallPathkhari').prop('checked', false);
                    $('#chkHomeWallBash').prop('checked', false);
                    $('#chkHomeWallSchan').prop('checked', false);
                    $('#chkHomeWallPaka').prop('checked', false);
                    $('#chkHomeWallMati').prop('checked', false);
                    $('#chkHomeWallTin').prop('checked', false);
                    $('#chkHomeWallOther').prop('checked', false);
                    $('#chkHomeRoofTin').prop('checked', false);
                    $('#chkHomeRoofSchan').prop('checked', false);
                    $('#chkHomeRoofKhar').prop('checked', false);
                    $('#chkHomeRoofTinSchan').prop('checked', false);
                    $('#chkHomeRoofOther').prop('checked', false);
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    function LoadLandInfo(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemLandInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnLandSave").val('U');
                    $("#hdnLandEditId").val(result.MemberLandID);
                    if (result.LandVita == true)
                        $('#chkLandVita').prop('checked', true);
                    else
                        $('#chkLandVita').prop('checked', false);

                    if (result.LandKrishi == true)
                        $('#chkLandKrishi').prop('checked', true);
                    else
                        $('#chkLandKrishi').prop('checked', false);

                    if (result.LandBagan == true)
                        $('#chkLandBagan').prop('checked', true);
                    else
                        $('#chkLandBagan').prop('checked', false);

                    if (result.LandPukur == true)
                        $('#chkLandPukur').prop('checked', true);
                    else
                        $('#chkLandPukur').prop('checked', false);

                    if (result.LandOnabadi == true)
                        $('#chkLandOnabadi').prop('checked', true);
                    else
                        $('#chkLandOnabadi').prop('checked', false);

                    if (result.LandBondhokDeya == true)
                        $('#chkLandBondhokDeya').prop('checked', true);
                    else
                        $('#chkLandBondhokDeya').prop('checked', false);

                    if (result.LandBorgaDeya == true)
                        $('#chkLandBorgaDeya').prop('checked', true);
                    else
                        $('#chkLandBorgaDeya').prop('checked', false);

                    if (result.LandBondhokNeya == true)
                        $('#chkLandBondhokNeya').prop('checked', true);
                    else
                        $('#chkLandBondhokNeya').prop('checked', false);

                    if (result.LandBorgaNeya == true)
                        $('#chkLandBorgaNeya').prop('checked', true);
                    else
                        $('#chkLandBorgaNeya').prop('checked', false);

                    if (result.LandKhash == true)
                        $('#chkLandKhash').prop('checked', true);
                    else
                        $('#chkLandKhash').prop('checked', false);
                    //alert(result.LandBorgaCondition);
                    $('#txtLandBorgaCondition').val(result.LandBorgaCondition);
                }
                else {
                    console.log('save');
                    $("#hdnHouseSave").val('S');
                    $("#hdnHouseEditId").val(0);
                    $('#chkLandVita').prop('checked', false);
                    $('#chkLandKrishi').prop('checked', false);
                    $('#chkLandBagan').prop('checked', false);
                    $('#chkLandPukur').prop('checked', false);
                    $('#chkLandOnabadi').prop('checked', false);
                    $('#chkLandBondhokDeya').prop('checked', false);
                    $('#chkLandBorgaDeya').prop('checked', false);
                    $('#chkLandBondhokNeya').prop('checked', false);
                    $('#chkLandBorgaNeya').prop('checked', false);
                    $('#chkLandKhash').prop('checked', false);
                    $('#chkLandBorgaCondition').val('');
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    function LoadAssetInfo(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemAssetInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnAssetSave").val('U');
                    $("#hdnAssetEditId").val(result.MemberAssetID);
                    $('#txtAssetCow').val(result.AssetCow);
                    $('#txtAssetGoat').val(result.AssetGoat);
                    $('#txtAssetSheep').val(result.AssetSheep);
                    $('#txtAssetDuck').val(result.AssetDuck);
                    $('#txtAssetHen').val(result.AssetHen);
                    $('#txtAssetCattleOther').val(result.AssetCattleOther);
                    $('#txtAssetBed').val(result.AssetBed);
                    $('#txtAssetChair').val(result.AssetChair);
                    $('#txtAssetTable').val(result.AssetTable);
                    $('#txtAssetCycle').val(result.AssetCycle);
                    $('#txtAssetRadio').val(result.AssetRadio);
                    $('#txtAssetOrnament').val(result.AssetOrnament);
                    $('#txtAssetOther').val(result.AssetOther);
                }
                else {
                    console.log('save');
                    $("#hdnAssetSave").val('S');
                    $("#hdnAssetEditId").val(0);
                    $('#txtAssetCow').val('');
                    $('#txtAssetGoat').val('');
                    $('#txtAssetSheep').val('');
                    $('#txtAssetDuck').val('');
                    $('#txtAssetHen').val('');
                    $('#txtAssetCattleOther').val('');
                    $('#txtAssetBed').val('');
                    $('#txtAssetChair').val('');
                    $('#txtAssetTable').val('');
                    $('#txtAssetCycle').val('');
                    $('#txtAssetRadio').val('');
                    $('#txtAssetOrnament').val('');
                    $('#txtAssetOther').val('');
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    /*OLD form JS Start */


    /*New form JS Start */
    function LoadEditFamilyInfoNew(MemberFamilyID, MemName, Age, Gen, Relation, Occu, Nid, mno, mars, occa2, PhyDis, SocSec, Letter, Address, FinishClass, DropClass, Study, Signature) {
        debugger;
        //$('#MemberID').val(MemberFamilyID);
        $("#hdnFamilySave").val('U');
        $("#hdnFamilyEditId").val(MemberFamilyID);
        $('#FamilyMemNames').val(MemName);
        $('#FamilyMemAges').val(Age);
        $('#FamilyMemGenders').val(Gen);
        $('#FamilyMemRelationships').val(Relation);
        $('#FamilyMemOccupations').val(Occu);
        if (Nid == 'null') {
            $('#NationalIdNo').val('');
        } else {
            $('#NationalIdNo').val(Nid);
        }
        if (mno == 'null') {
            $('#MobileNo').val('');
        } else {
            $('#MobileNo').val(mno);
        }
        if (mars == 'null') {
            $('#MaritalStatus').val('');
        } else {
            $('#MaritalStatus').val(mars);
        }
        if (occa2 == 'null') {
            $('#FamilyMemOccupation2').val('');
        } else {
            $('#FamilyMemOccupation2').val(occa2);
        }
        if (PhyDis == true)
            $('#PhysicalDisability').prop('checked', true);
        else
            $('#PhysicalDisability').prop('checked', false);

        if (SocSec == 'null') {
            $('#SocialSecurity').val('');
        } else {
            $('#SocialSecurity').val(SocSec);
        }

        if (Letter == true)
            $('#chkLetterWritings').prop('checked', true);
        else
            $('#chkLetterWritings').prop('checked', false);

        if (Address == true)
            $('#chkAddressWritings').prop('checked', true);
        else
            $('#chkAddressWritings').prop('checked', false);

        if (FinishClass == true)
            $('#chkClassFives').prop('checked', true);
        else
            $('#chkClassFives').prop('checked', false);

        if (DropClass == true)
            $('#chkDropClassFives').prop('checked', true);
        else
            $('#chkDropClassFives').prop('checked', false);

        if (Study == true)
            $('#chkStudyings').prop('checked', true);
        else
            $('#chkStudyings').prop('checked', false);

        if (Signature == true)
            $('#chkSignatures').prop('checked', true);
        else
            $('#chkSignatures').prop('checked', false);

    }
    function DeleteFamilyInfo(FamilyEditId) {
        var r = confirm("Are you sure you want to cancel?");
        if (r == true) {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetMemFamilyDelete", "MemberDetail", "http")',
                type: "GET",
                dataType: 'json',
                async: true,
                data: { FamilyEditId: FamilyEditId },
                success: function (mem_family_id) {
                    if (mem_family_id > 0) {
                        $(".family_success").show(800).fadeToggle(3000);
                        $('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                        $('#gridFamilyNew').jtable('load', { MemId: $('#MemberID').val() });
                    }
                    else {
                        $(".family_failed").show(800).fadeToggle(3000);
                    }
                },
                error: function (err) {
                    $(".family_failed").show(800).fadeToggle(3000);
                }
            });
        }
        else {
            //
        }
    }
    function LoadHouseInfoNew(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemHouseInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnHouseSave").val('U');
                    $("#hdnHouseEditId").val(result.MemberHouseID);
                    if(result.HomeWallPathkhari == true)
                        $('#chkHomeWallPathkharis').prop('checked', true);
                    else
                        $('#chkHomeWallPathkharis').prop('checked', false);

                    if (result.HomeWallBash == true)
                        $('#chkHomeWallBashs').prop('checked', true);
                    else
                        $('#chkHomeWallBashs').prop('checked', false);

                    //if (result.HomeWallBash == true)
                    //    $('#chkHomeWallBash').prop('checked', true);
                    //else
                    //    $('#chkHomeWallBash').prop('checked', false);

                    if (result.HomeWallSchan == true)
                        $('#chkHomeWallSchans').prop('checked', true);
                    else
                        $('#chkHomeWallSchans').prop('checked', false);

                    if (result.HomeWallPaka == true)
                        $('#chkHomeWallPakas').prop('checked', true);
                    else
                        $('#chkHomeWallPakas').prop('checked', false);

                    if (result.HomeWallMati == true)
                        $('#chkHomeWallMatis').prop('checked', true);
                    else
                        $('#chkHomeWallMatis').prop('checked', false);

                    if (result.HomeWallTin == true)
                        $('#chkHomeWallTins').prop('checked', true);
                    else
                        $('#chkHomeWallTins').prop('checked', false);

                    if (result.HomeWallOther == true)
                        $('#chkHomeWallOthers').prop('checked', true);
                    else
                        $('#chkHomeWallOthers').prop('checked', false);

                    if (result.HomeRoofTin == true)
                        $('#chkHomeRoofTins').prop('checked', true);
                    else
                        $('#chkHomeRoofTins').prop('checked', false);

                    if (result.HomeRoofSchan == true)
                        $('#chkHomeRoofSchans').prop('checked', true);
                    else
                        $('#chkHomeRoofSchans').prop('checked', false);

                    if (result.HomeRoofKhar == true)
                        $('#chkHomeRoofKhars').prop('checked', true);
                    else
                        $('#chkHomeRoofKhars').prop('checked', false);

                    if (result.HomeRoofTinSchan == true)
                        $('#chkHomeRoofTinSchans').prop('checked', true);
                    else
                        $('#chkHomeRoofTinSchans').prop('checked', false);

                    if (result.HomeRoofOther == true)
                        $('#chkHomeRoofOthers').prop('checked', true);
                    else
                        $('#chkHomeRoofOthers').prop('checked', false);



                    if (result.HouseOwnerOwn == true)
                        $('#chkHouseOwnerOwn').prop('checked', true);
                    else
                        $('#chkHouseOwnerOwn').prop('checked', false);

                    if (result.HouseOwnerOther == true)
                        $('#chkHouseOwnerOther').prop('checked', true);
                    else
                        $('#chkHouseOwnerOther').prop('checked', false);

                    if (result.HouseOwnerKhasJomi == true)
                        $('#chkHouseOwnerKhasJomi').prop('checked', true);
                    else
                        $('#chkHouseOwnerKhasJomi').prop('checked', false);

                    if (result.HouseOwnerOtherLand == true)
                        $('#chkHouseOwnerOtherLand').prop('checked', true);
                    else
                        $('#chkHouseOwnerOtherLand').prop('checked', false);

                    $('#HouseOwnerOwnLandAmount').val(result.HouseOwnerOwnLandAmount);
                    $('#NoOfRoomInHouse').val(result.NoOfRoomInHouse);
                    $('#NoOfMainRoom').val(result.NoOfMainRoom);
                    $('#OtherRoomName').val(result.OtherRoomName);
                    $('#HouseMaterialTop').val(result.HouseMaterialTop);
                    $('#HouseMaterialWall').val(result.HouseMaterialWall);
                    $('#HouseMaterialFloor').val(result.HouseMaterialFloor);

                }
                else {
                    console.log('save');
                    $("#hdnHouseSave").val('S');
                    $("#hdnHouseEditId").val(0);
                    $('#chkHomeWallPathkharis').prop('checked', false);
                    $('#chkHomeWallBashs').prop('checked', false);
                    $('#chkHomeWallSchans').prop('checked', false);
                    $('#chkHomeWallPakas').prop('checked', false);
                    $('#chkHomeWallMatis').prop('checked', false);
                    $('#chkHomeWallTins').prop('checked', false);
                    $('#chkHomeWallOthers').prop('checked', false);
                    $('#chkHomeRoofTins').prop('checked', false);
                    $('#chkHomeRoofSchans').prop('checked', false);
                    $('#chkHomeRoofKhars').prop('checked', false);
                    $('#chkHomeRoofTinSchans').prop('checked', false);
                    $('#chkHomeRoofOthers').prop('checked', false);

                    $('#chkHouseOwnerOwn').prop('checked', false);
                    $('#chkHouseOwnerOther').prop('checked', false);
                    $('#chkHouseOwnerKhasJomi').prop('checked', false);
                    $('#chkHouseOwnerOtherLand').prop('checked', false);

                    $('#HouseOwnerOwnLandAmount').val(0);
                    $('#NoOfRoomInHouse').val(0);
                    $('#NoOfMainRoom').val(0);
                    $('#OtherRoomName').val('');
                    $('#HouseMaterialTop').val('');
                    $('#HouseMaterialWall').val('');
                    $('#HouseMaterialFloor').val('');
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    function LoadLandInfoNew(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemLandInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnLandSave").val('U');
                    $("#hdnLandEditId").val(result.MemberLandID);
                    if (result.LandVita == true)
                        $('#chkLandVitas').prop('checked', true);
                    else
                        $('#chkLandVitas').prop('checked', false);

                    if (result.LandKrishi == true)
                        $('#chkLandKrishis').prop('checked', true);
                    else
                        $('#chkLandKrishis').prop('checked', false);

                    if (result.LandBagan == true)
                        $('#chkLandBagans').prop('checked', true);
                    else
                        $('#chkLandBagans').prop('checked', false);

                    if (result.LandPukur == true)
                        $('#chkLandPukurs').prop('checked', true);
                    else
                        $('#chkLandPukurs').prop('checked', false);

                    if (result.LandOnabadi == true)
                        $('#chkLandOnabadis').prop('checked', true);
                    else
                        $('#chkLandOnabadis').prop('checked', false);

                    if (result.LandBondhokDeya == true)
                        $('#chkLandBondhokDeyas').prop('checked', true);
                    else
                        $('#chkLandBondhokDeyas').prop('checked', false);

                    if (result.LandBorgaDeya == true)
                        $('#chkLandBorgaDeyas').prop('checked', true);
                    else
                        $('#chkLandBorgaDeyas').prop('checked', false);

                    if (result.LandBondhokNeya == true)
                        $('#chkLandBondhokNeyas').prop('checked', true);
                    else
                        $('#chkLandBondhokNeyas').prop('checked', false);

                    if (result.LandBorgaNeya == true)
                        $('#chkLandBorgaNeyas').prop('checked', true);
                    else
                        $('#chkLandBorgaNeyas').prop('checked', false);

                    if (result.LandKhash == true)
                        $('#chkLandKhashs').prop('checked', true);
                    else
                        $('#chkLandKhashs').prop('checked', false);
                    //alert(result.LandBorgaCondition);
                    $('#txtLandBorgaConditions').val(result.LandBorgaCondition);
                }
                else {
                    console.log('save');
                    $("#hdnHouseSave").val('S');
                    $("#hdnHouseEditId").val(0);
                    $('#chkLandVitas').prop('checked', false);
                    $('#chkLandKrishis').prop('checked', false);
                    $('#chkLandBagans').prop('checked', false);
                    $('#chkLandPukurs').prop('checked', false);
                    $('#chkLandOnabadis').prop('checked', false);
                    $('#chkLandBondhokDeyas').prop('checked', false);
                    $('#chkLandBorgaDeyas').prop('checked', false);
                    $('#chkLandBondhokNeyas').prop('checked', false);
                    $('#chkLandBorgaNeyas').prop('checked', false);
                    $('#chkLandKhashs').prop('checked', false);
                    $('#chkLandBorgaConditions').val('');
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    function LoadAssetInfoNew(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetMemAssetInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnAssetSave").val('U');
                    $("#hdnAssetEditId").val(result.MemberAssetID);
                    $('#txtAssetCows').val(result.AssetCow);
                    $('#txtAssetGoats').val(result.AssetGoat);
                    $('#txtAssetSheeps').val(result.AssetSheep);
                    $('#txtAssetDucks').val(result.AssetDuck);
                    $('#txtAssetHens').val(result.AssetHen);
                    $('#txtAssetCattleOthers').val(result.AssetCattleOther);
                    $('#txtAssetBeds').val(result.AssetBed);
                    $('#txtAssetChairs').val(result.AssetChair);
                    $('#txtAssetTables').val(result.AssetTable);
                    $('#txtAssetCycles').val(result.AssetCycle);
                    $('#txtAssetRadios').val(result.AssetRadio);
                    $('#txtAssetOrnaments').val(result.AssetOrnament);
                    $('#txtAssetOthers').val(result.AssetOther);
                    $('#AgriculturalLandAmount').val(result.AgriculturalLandAmount);
                    $('#PondLandAmount').val(result.PondLandAmount);
                    $('#AbandonedLandAmount').val(result.AbandonedLandAmount);
                }
                else {
                    console.log('save');
                    $("#hdnAssetSave").val('S');
                    $("#hdnAssetEditId").val(0);
                    $('#txtAssetCows').val('');
                    $('#txtAssetGoats').val('');
                    $('#txtAssetSheeps').val('');
                    $('#txtAssetDucks').val('');
                    $('#txtAssetHens').val('');
                    $('#txtAssetCattleOthers').val('');
                    $('#txtAssetBeds').val('');
                    $('#txtAssetChairs').val('');
                    $('#txtAssetTables').val('');
                    $('#txtAssetCycles').val('');
                    $('#txtAssetRadios').val('');
                    $('#txtAssetOrnaments').val('');
                    $('#txtAssetOthers').val('');
                    $('#AgriculturalLandAmount').val(0);
                    $('#PondLandAmount').val(0);
                    $('#AbandonedLandAmount').val(0);
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    function LoadOtherInfoNew(memberId) {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetOtherInfo", "MemberDetail", "http")',
            type: "GET",
            dataType: 'json',
            async: true,
            data: { MemId: memberId },
            success: function (result) {
                if (result.TotCount > 0) {
                    console.log('update');
                    $("#hdnOtherSave").val('U');
                    $("#hdnOtherEditId").val(result.MemberOtherInfoID);

                    if (result.Tubewel == true)
                        $('#rdoTubewel').prop('checked', true);
                    else
                        $('#rdoTubewel').prop('checked', false);

                    if (result.Nodi == true)
                        $('#rdoNodi').prop('checked', true);
                    else
                        $('#rdoNodi').prop('checked', false);

                    if (result.Khal == true)
                        $('#rdoKhal').prop('checked', true);
                    else
                        $('#rdoKhal').prop('checked', false);

                    if (result.Pukur == true)
                        $('#rdoPukur').prop('checked', true);
                    else
                        $('#rdoPukur').prop('checked', false);

                    if (result.Filter == true)
                        $('#rdoFilter').prop('checked', true);
                    else
                        $('#rdoFilter').prop('checked', false);

                    if (result.PSF == true)
                        $('#rdoPSF').prop('checked', true);
                    else
                        $('#rdoPSF').prop('checked', false);

                    if (result.BristyrPani == true)
                        $('#rdoBristyrPani').prop('checked', true);
                    else
                        $('#rdoBristyrPani').prop('checked', false);

                    if (result.Saplai == true)
                        $('#rdoSaplai').prop('checked', true);
                    else
                        $('#rdoSaplai').prop('checked', false);

                    if (result.Others == true)
                        $('#rdoOthers').prop('checked', true);
                    else
                        $('#rdoOthers').prop('checked', false);

                    if (result.Lattin == true)
                        $('#rdolattinYes').prop('checked', true);
                    else
                        $('#rdolattinYes').prop('checked', false);

                    if (result.Lattin != true)
                        $('#rdolattinNo').prop('checked', true);
                    else
                        $('#rdolattinNo').prop('checked', false);


                }
                else {
                    console.log('save');
                    $("#hdnOtherSave").val('S');
                    $("#hdnOtherEditId").val(0);
                    $('#rdoTubewel').prop('checked', false);
                    $('#rdoNodi').prop('checked', false);
                    $('#rdoKhal').prop('checked', false);
                    $('#rdoPukur').prop('checked', false);
                    $('#rdoFilter').prop('checked', false);
                    $('#rdoPSF').prop('checked', false);
                    $('#rdoBristyrPani').prop('checked', false);
                    $('#rdoSaplai').prop('checked', false);
                    $('#rdoOthers').prop('checked', false);
                    $('#rdoLattin').prop('checked', false);
                }
            },
            error: function (err) {
                //$body.removeClass("loading");
            }
        });
    }
    /*New form JS Start */


    $(document).ready(function () {       

        $("#memberAutoComplete").prop("readonly", true);
        $("#hdnFamilySave").val('S');
        $("#hdnFamilyEditId").val(0);
        $("#hdnHouseSave").val('S');
        $("#hdnHouseEditId").val(0);
        $("#hdnLandSave").val('S');
        $("#hdnLandEditId").val(0);

        $("#CenterID").change(function () {
            var cntr = $("#CenterID").val();
            if (cntr > 0) {
                $("#memberAutoComplete").prop("readonly", false);
            }
            else
            {
                $("#memberAutoComplete").prop("readonly", true);
            }
        });
        $("#memberAutoComplete").blur(function () {
            var member = $("#memberAutoComplete").val();
            if (member.length > 0) {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetMemberList", "MemberDetail", "http")',
                    type: "GET",
                    dataType: 'json',
                    async: true,
                    data: { memberid: member, centerId: $("#CenterID").val() },
                    minLength: 1,
                    success: function (data) {
                        if (data.length == 1) {
                            $("#memberAutoComplete").val(data[0].MemberName);
                            $("#MemberID").val(data[0].MemberID);
                            $('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                            LoadHouseInfo($('#MemberID').val());
                            LoadLandInfo($('#MemberID').val());
                            LoadAssetInfo($('#MemberID').val());
                            $('#gridFamilyNew').jtable('load', { MemId: $('#MemberID').val() });
                            LoadHouseInfoNew($('#MemberID').val());
                            LoadLandInfoNew($('#MemberID').val());
                            LoadAssetInfoNew($('#MemberID').val());
                            LoadOtherInfoNew($('#MemberID').val());

                        }
                        else if (data.length == 0) {
                            alert("No member found.");
                            $("#MemberID").val("");

                        }
                        else {
                            alert("More than one member found with the given Member code.");
                            $("#MemberID").val("");
                        }
                    }
                });
            }
        });
        $("#memberAutoComplete").autocomplete({
            source: function (request, response) {
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("GetMemberList", "MemberDetail", "http")',
                    type: "GET",
                    dataType: 'json',
                    async: true,
                    data: { memberid: request.term, centerId: $("#CenterID").val() },
                    minLength: 1,
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.MemberID,
                                label: item.MemberName
                            };
                            //response(data);
                        }))
                    }
                })
            },
            //messages: {
            //    noResults: "", results: ""
            //},
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            focus: function (event, ui) {
                $("#memberAutoComplete").val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $("#memberAutoComplete").val(ui.item.label);
                $("#MemberID").val(ui.item.value);
                //$('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                return false;
            },
            change: function (event, ui) {
                $("#memberAutoComplete").val(ui.item.label);
                $("#MemberID").val(ui.item.value);
                //$('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                return false;
            }
        });

        $('#gridFamily').jtable({
            paging: true,
            pageSize: 20,
            sorting: true,
            defaultSorting: 'BusinessDate ASC',
            actions: {
                //listAction: '/MemberDetail/GetMemFamilyInfo?MemId=' +  $('#MemberID').val();
                listAction: function (postData, jtParams) {
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/MemberDetail/GetMemFamilyInfo?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                }
            },
            fields: {
                MemberFamilyID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                FamilyMemName: {
                    title: 'Name',
                    create: false,
                    edit: false,
                    type: 'label'
                },
                FamilyMemAge: {
                    title: 'Age',
                    create: false,
                    edit: false
                },
                FamilyMemGender: {
                    title: "Gender",
                    display: function (data) {
                        var gen='';
                        if(data.record.FamilyMemGender == 'F')
                            gen = 'Female';
                        else
                            gen = 'Male';
                        return  gen;
                    }
                },
                FamilyMemRelationship: {
                    title: "Relation",
                    display: function (data) {
                        var relation='';
                        if (data.record.FamilyMemRelationship == 1)
                            relation = 'Self';
                        else if (data.record.FamilyMemRelationship == 2)
                            relation = 'Husband';
                        else if (data.record.FamilyMemRelationship == 3)
                            relation = 'Father';
                        else if (data.record.FamilyMemRelationship == 4)
                            relation = 'Mother';
                        else if (data.record.FamilyMemRelationship == 5)
                            relation = 'Brother';
                        else if (data.record.FamilyMemRelationship == 6)
                            relation = 'Sister';
                        else if (data.record.FamilyMemRelationship == 7)
                            relation = 'Uncle';
                        return relation;
                    }
                },
                FamilyMemOccupation: {
                    title: 'Ocupation',
                    type: 'label',
                    create: false,
                    edit: false
                },
                NationalIdNo: {
                    title: 'NID',
                    type: 'label',
                    create: false,
                    edit: false
                },
                MobileNo: {
                    title: 'MobileNo',
                    type: 'label',
                    create: false,
                    edit: false
                },
                LetterWritingAbility: {
                    title: "Letter Writing",
                    display: function (data) {
                        var result = '';
                        if (data.record.LetterWritingAbility == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                AddressWritingAbility: {
                    title: "Letter Writing",
                    display: function (data) {
                        var result = '';
                        if (data.record.AddressWritingAbility == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                FinishedClassFive: {
                    title: "Finish Class V",
                    display: function (data) {
                        var result = '';
                        if (data.record.FinishedClassFive == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                DropBeforeClassFive: {
                    title: "Drop Before Class V",
                    display: function (data) {
                        var result = '';
                        if (data.record.DropBeforeClassFive == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                Studying: {
                    title: "Studying",
                    display: function (data) {
                        var result = '';
                        if (data.record.DropBeforeClassFive == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                SignatureAbility: {
                    title: "Signature Ability",
                    display: function (data) {
                        var result = '';
                        if (data.record.SignatureAbility == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                EditLink: {
                    title: "Edit",
                    sort: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='#' OnClick='LoadEditFamilyInfo(" + data.record.MemberFamilyID + ',"' + data.record.FamilyMemName + '",' + data.record.FamilyMemAge + ',"' + data.record.FamilyMemGender + '","' + data.record.FamilyMemRelationship + '","' + data.record.FamilyMemOccupation + '","' + data.record.NationalIdNo + '","' + data.record.MobileNo + '","' + data.record.MaritalStatus + '","' + data.record.FamilyMemOccupation2 + '",' + data.record.PhysicalDisability + ',"' + data.record.SocialSecurity +'",'+ data.record.LetterWritingAbility + "," + data.record.AddressWritingAbility + "," + data.record.FinishedClassFive + "," + data.record.DropBeforeClassFive + "," + data.record.Studying + "," + data.record.SignatureAbility + ");'><i class='fa fa-pencil-square-o'></i></a></div>";
                        //<a href="#" OnClick="LoadEditFamilyInfo(' + sl + ');"><i class="fa fa-pencil-square-o"></i></a>

                        //if (data.record.MemberStatus != '5')
                        //    return "<div class='text-center'><a href='/Member/Edit/" + data.record.MemberID + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                        //else
                        //    return null;
                    }
                },
                DeleteLink: {
                    title: "Delete",
                    display: function (data) {
                        if (data.record.MemberStatus != '5')
                            return '<div class="text-center delete-link"><a href="#" OnClick="DeleteFamilyInfo(' + data.record.MemberFamilyID + ')"><i class="fa fa-trash-o"></i></a></div>';
                        else
                            return null;
                    }
                }
            }
        });
        $("#btnFamilySave").click(function (e) {
            e.preventDefault();
            var memName = $('#FamilyMemName').val();
            var memAge = $('#FamilyMemAge').val();
            var memGender = $('#FamilyMemGender').val();
            var memRelation = $('#FamilyMemRelationship').val();
            var memOccupation = $('#FamilyMemOccupation').val();
            var nationalIdNo = $('#NationalIdNo').val();
            var mobileNo = $('#MobileNo').val();
            var MaritalStatus = $('#MaritalStatus').val();
            var FamilyMemOccupation2 = $('#FamilyMemOccupation2').val();
            var PhysicalDisability = 0;
            if ($("#PhysicalDisability").is(":checked")) {
                PhysicalDisability = 1;
            }
            var SocialSecurity = $('#SocialSecurity').val();
            var centerId = $('#CenterID').val();
            var memId = $('#MemberID').val();
            var letterWriting = 0;
            var addressWriting = 0;
            var finishClassFive = 0;
            var dropBeforeClassFive = 0;
            var studying = 0;
            var signatureAbility = 0;
            if ($("#chkLetterWriting").is(":checked")) {
                letterWriting = 1;
            }
            if ($("#chkAddressWriting").is(":checked")) {
                addressWriting = 1;
            }
            if ($("#chkClassFive").is(":checked")) {
                finishClassFive = 1;
            }
            if ($("#chkDropClassFive").is(":checked")) {
                dropBeforeClassFive = 1;
            }
            if ($("#chkStudying").is(":checked")) {
                studying = 1;
            }
            if ($("#chkSignature").is(":checked")) {
                signatureAbility = 1;
            }
            if (memId > 0) {
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("SaveFamily", "MemberDetail", "http")',
                    data: { centerId: centerId, memId: memId, memName: memName, memAge: memAge, memGender: memGender, memRelation: memRelation, memOccupation: memOccupation, nationalIdNo: nationalIdNo, mobileNo: mobileNo, MaritalStatus: MaritalStatus, FamilyMemOccupation2: FamilyMemOccupation2, PhysicalDisability: PhysicalDisability, SocialSecurity: SocialSecurity,  letterWriting: letterWriting, addressWriting: addressWriting, finishClassFive: finishClassFive, dropBeforeClassFive: dropBeforeClassFive, studying: studying, signatureAbility: signatureAbility, mode: $("#hdnFamilySave").val(), FamilyEditId: $("#hdnFamilyEditId").val() },
                    dataType: 'json',
                    async: true,
                    success: function (Emp_Address_Id) {
                        if (Emp_Address_Id > 0) {
                            $('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                            $("#hdnFamilySave").val('S');
                            $("#hdnFamilyEditId").val(0);

                            $('#gridFamilyNew').jtable('load', { MemId: $('#MemberID').val() });
                            $("#hdnFamilySave").val('S');
                            $("#hdnFamilyEditId").val(0);

                            $(".family_success").show(800).fadeToggle(3000);
                        }
                        else {
                            $(".family_failed").show(800).fadeToggle(3000);
                        }
                    },
                    error: function (request, status, error) {
                        alert(error)
                    }
                });
            }
        });

       
        $('#gridFamilyNew').jtable({
            paging: true,
            pageSize: 20,
            sorting: true,
            defaultSorting: 'BusinessDate ASC',
            actions: {
                //listAction: '/MemberDetail/GetMemFamilyInfo?MemId=' +  $('#MemberID').val();
                listAction: function (postData, jtParams) {
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/MemberDetail/GetMemFamilyInfo?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                }
            },
            fields: {
                MemberFamilyID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                FamilyMemName: {
                    title: 'Name',
                    create: false,
                    edit: false,
                    type: 'label'
                },
                FamilyMemAge: {
                    title: 'AgeN',
                    create: false,
                    edit: false
                },
                FamilyMemGender: {
                    title: "GenderN",
                    display: function (data) {
                        var gen='';
                        if(data.record.FamilyMemGender == 'F')
                            gen = 'Female';
                        else
                            gen = 'Male';
                        return  gen;
                    }
                },
                FamilyMemRelationship: {
                    title: "Relation",
                    display: function (data) {
                        var relation='';
                        if (data.record.FamilyMemRelationship == 1)
                            relation = 'Self';
                        else if (data.record.FamilyMemRelationship == 2)
                            relation = 'Husband';
                        else if (data.record.FamilyMemRelationship == 3)
                            relation = 'Father';
                        else if (data.record.FamilyMemRelationship == 4)
                            relation = 'Mother';
                        else if (data.record.FamilyMemRelationship == 5)
                            relation = 'Brother';
                        else if (data.record.FamilyMemRelationship == 6)
                            relation = 'Sister';
                        else if (data.record.FamilyMemRelationship == 7)
                            relation = 'Uncle';
                        return relation;
                    }
                },
                FamilyMemOccupation: {
                    title: 'Ocupation',
                    type: 'label',
                    create: false,
                    edit: false
                },
                NationalIdNo: {
                    title: 'NID',
                    type: 'label',
                    create: false,
                    edit: false
                },
                MobileNo: {
                    title: 'MobileNo',
                    type: 'label',
                    create: false,
                    edit: false
                },
                MaritalStatus: {
                    title: 'Marital Status',
                    type: 'label',
                    create: false,
                    edit: false
                },
                FamilyMemOccupation2: {
                    title: 'OccU 2',
                    type: 'label',
                    create: false,
                    edit: false
                },
                PhysicalDisability: {
                    title: "Physical Disability",
                    display: function (data) {
                        var result = '';
                        if (data.record.PhysicalDisability == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                SocialSecurity: {
                    title: 'OccU 2',
                    type: 'label',
                    create: false,
                    edit: false
                },
                LetterWritingAbility: {
                    title: "Letter Writing",
                    display: function (data) {
                        var result = '';
                        if (data.record.LetterWritingAbility == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                AddressWritingAbility: {
                    title: "Letter Writing",
                    display: function (data) {
                        var result = '';
                        if (data.record.AddressWritingAbility == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                FinishedClassFive: {
                    title: "Finish Class V",
                    display: function (data) {
                        var result = '';
                        if (data.record.FinishedClassFive == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                DropBeforeClassFive: {
                    title: "Drop Before Class V",
                    display: function (data) {
                        var result = '';
                        if (data.record.DropBeforeClassFive == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                Studying: {
                    title: "Studying",
                    display: function (data) {
                        var result = '';
                        if (data.record.DropBeforeClassFive == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                SignatureAbility: {
                    title: "Signature Ability",
                    display: function (data) {
                        var result = '';
                        if (data.record.SignatureAbility == true)
                            result = 'Yes';
                        else
                            result = 'No';
                        return result;
                    }
                },
                EditLink: {
                    title: "Edit",
                    sort: false,
                    display: function (data) {
                        //return "<div class='text-center'><a href='#' OnClick='LoadEditFamilyInfoNew(" + data.record.MemberFamilyID + ',"' + data.record.FamilyMemName + '",' + data.record.FamilyMemAge + ',"' + data.record.FamilyMemGender + '","' + data.record.FamilyMemRelationship + '","' + data.record.FamilyMemOccupation + '","' + data.record.NationalIdNo + '","' + data.record.MobileNo + '","' + data.record.MaritalStatus + '","' + data.record.FamilyMemOccupation2 + '",' + data.record.PhysicalDisability + "," + data.record.LetterWritingAbility + "," + data.record.AddressWritingAbility + "," + data.record.FinishedClassFive + "," + data.record.DropBeforeClassFive + "," + data.record.Studying + "," + data.record.SignatureAbility + ");'><i class='fa fa-pencil-square-o'></i></a></div>";
                        return "<div class='text-center'><a href='#' OnClick='LoadEditFamilyInfoNew(" + data.record.MemberFamilyID + ',"' + data.record.FamilyMemName + '",' + data.record.FamilyMemAge + ',"' + data.record.FamilyMemGender + '","' + data.record.FamilyMemRelationship + '","' + data.record.FamilyMemOccupation + '","' + data.record.NationalIdNo + '","' + data.record.MobileNo + '","' + data.record.MaritalStatus + '","' + data.record.FamilyMemOccupation2 + '",' + data.record.PhysicalDisability + ',"' + data.record.SocialSecurity + '",' + data.record.LetterWritingAbility + "," + data.record.AddressWritingAbility + "," + data.record.FinishedClassFive + "," + data.record.DropBeforeClassFive + "," + data.record.Studying + "," + data.record.SignatureAbility + ");'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                DeleteLink: {
                    title: "Delete",
                    display: function (data) {
                        if (data.record.MemberStatus != '5')
                            return '<div class="text-center delete-link"><a href="#" OnClick="DeleteFamilyInfo(' + data.record.MemberFamilyID + ')"><i class="fa fa-trash-o"></i></a></div>';
                        else
                            return null;
                    }
                }
            }
        });
        $("#btnFamilySaveNew").click(function (e) {
            e.preventDefault();
            var memName = $('#FamilyMemNames').val();
            var memAge = $('#FamilyMemAges').val();
            var memGender = $('#FamilyMemGenders').val();
            var memRelation = $('#FamilyMemRelationships').val();
            var memOccupation = $('#FamilyMemOccupations').val();
            var nationalIdNo = $('#NationalIdNo').val();
            var mobileNo = $('#MobileNo').val();
            var MaritalStatus = $('#MaritalStatus').val();
            var FamilyMemOccupation2 = $('#FamilyMemOccupation2').val();
            var PhysicalDisability = 0;
            if ($("#PhysicalDisability").is(":checked")) {
                PhysicalDisability = 1;
            }
            var SocialSecurity = $('#SocialSecurity').val();
            var centerId = $('#CenterID').val();
            var memId = $('#MemberID').val();
            var letterWriting = 0;
            var addressWriting = 0;
            var finishClassFive = 0;
            var dropBeforeClassFive = 0;
            var studying = 0;
            var signatureAbility = 0;
            if ($("#chkLetterWritings").is(":checked")) {
                letterWriting = 1;
            }
            if ($("#chkAddressWritings").is(":checked")) {
                addressWriting = 1;
            }
            if ($("#chkClassFives").is(":checked")) {
                finishClassFive = 1;
            }
            if ($("#chkDropClassFives").is(":checked")) {
                dropBeforeClassFive = 1;
            }
            if ($("#chkStudyings").is(":checked")) {
                studying = 1;
            }
            if ($("#chkSignatures").is(":checked")) {
                signatureAbility = 1;
            }
            if (memId > 0) {
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("SaveFamily", "MemberDetail", "http")',
                    data: { centerId: centerId, memId: memId, memName: memName, memAge: memAge, memGender: memGender, memRelation: memRelation, memOccupation: memOccupation, nationalIdNo: nationalIdNo, mobileNo: mobileNo, MaritalStatus: MaritalStatus, FamilyMemOccupation2: FamilyMemOccupation2, PhysicalDisability: PhysicalDisability, SocialSecurity: SocialSecurity, letterWriting: letterWriting, addressWriting: addressWriting, finishClassFive: finishClassFive, dropBeforeClassFive: dropBeforeClassFive, studying: studying, signatureAbility: signatureAbility, mode: $("#hdnFamilySave").val(), FamilyEditId: $("#hdnFamilyEditId").val() },
                    dataType: 'json',
                    async: true,
                    success: function (Emp_Address_Id) {
                        if (Emp_Address_Id > 0) {
                            $('#gridFamilyNew').jtable('load', { MemId: $('#MemberID').val() });
                            $("#hdnFamilySave").val('S');
                            $("#hdnFamilyEditId").val(0);
                            $('#gridFamily').jtable('load', { MemId: $('#MemberID').val() });
                            $("#hdnFamilySave").val('S');
                            $("#hdnFamilyEditId").val(0);
                            $(".family_success").show(800).fadeToggle(3000);
                        }
                        else {
                            $(".family_failed").show(800).fadeToggle(3000);
                        }
                    },
                    error: function (request, status, error) {
                        alert(error)
                    }
                });
            }
        });
    });

</script>
<h2 class="page-title">Family Member Details</h2>
<div class="">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.CenterID, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.CenterID, center, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CenterID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Member", htmlAttributes: new { @class = "control-label" })
                @Html.TextBox("memberAutoComplete", "", new { @class = "form-control" })
                @Html.HiddenFor(model => model.MemberID)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyMemName, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FamilyMemName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyMemAge, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FamilyMemAge, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyMemGender, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.FamilyMemGender, gen, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyMemRelationship, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.FamilyMemRelationship, relation, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FamilyMemOccupation, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FamilyMemOccupation, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" id="btnFamilySaveNew" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div id="gridFamily"></div>
        </div>
    </div>
</div>         
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}

