
@model LoanSavingRateMappingViewModel

@{
    ViewBag.Title = "LoanSavingsRateMapping";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<h2 class="page-title">Loan Savings Rate Mapping</h2>

@using (Html.BeginForm("Map", "LoanSavingsRateMapping", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="">
        <div class="raw">
            <div class="col-md-12">
                <div class="raw">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LoanSavingRateType, htmlAttributes: new { @class = "control-label required" })
                            @Html.DropDownListFor(model => model.LoanSavingRateType, DropdownListHelper.GetDropdownList(DropdownListTypes.LoanSavingsRateType, Model.LoanSavingRateType), "Select One", new { @class = "form-control chosen" })
                            @Html.ValidationMessageFor(model => model.LoanSavingRateType)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="raw">
            <div class="col-md-12">
                <div class="raw">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label required" })
                            @Html.DropDownListFor(model => model.ProductName, new List<SelectListItem>(), "Select One", new { @class = "form-control chosen-product" })
                            @Html.ValidationMessageFor(model => model.ProductName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label required" })
                            @Html.TextBoxFor(model => model.Rate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="raw">
            <div class="col-md-12">
                <div class="raw">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group form-action">
                                <button type="submit" class="btn btn-sm btn-primary" id="btnSave"> Submit </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="grid"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
    <link href="~/Assets/plugins/choosen/chosen.css" rel="stylesheet" />
    <script src="~/Assets/plugins/choosen/chosen.jquery.js"></script>
    <script src="~/Assets/js/olrs/loanSavingsRateMappingManager.js"></script>
}