@model gBanker.Web.ViewModels.SurveyMemberMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@Html.ActionLink("Create Basic Info", "createBasicInfo", null, new { @class = "btn btn-success btn-sm pull-right" })

<h2 class="page-title"> Member Survey List</h2>

<div class="row">
    <div class="col-sm-12">
        &nbsp;
    </div>
</div>

<div id="grid"></div>

<div class="row">
    <div class="col-sm-12">
        &nbsp;
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        $('#grid').jtable({
            paging: true,
            pageSize: 20,
            sorting: true,
            defaultSorting: 'InventoryId ASC',
            actions: {
                listAction: function (postData, jtParams) {
                    //var carId = $("#VMCarId").val();
                    //if (carId == '' || carId == "" || carId == null) {
                    //    carId = 0;
                    //}

                    return $.Deferred(function ($dfd) {

                        $.ajax({
                            //url: '/MemberSurvey/ListMemberSurvey?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting + '&carId=' + carId,
                            url: '/MemberSurvey/ListMemberSurvey?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,

                            success: function (data) {
                                $dfd.resolve(data);

                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                }

            },
            fields: {
                Id: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                //SurveyId: {
                //    title: 'Survey Id',
                //    width: '10%'
                //},

                SurveyCode: {
                    title: 'SurveyCode',
                    width: '10%'
                },
                
                MemberFullName: {
                    title: 'MemberFullName',
                    width: '10%'
                },
                PresentAddress: {
                    title: 'PresentAddress',
                    width: '10%'
                },
                FamilyInfo: {
                    title: "Family Info",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateSurveyMemberFamilyInformation?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                Accomodation: {
                    title: "Accomodation",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateAccomodationInfo?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                Verification: {
                    title: "Verification",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateVerification?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                Asset: {
                    title: "Asset",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateSurveyMemberAsset?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                Expenditure: {
                    title: "Expenditure",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateSurveyMemberExpenditure?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                NGOInfo: {
                    title: "NGOInfo",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateSurveyMemberNgo?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                EducationInfo: {
                    title: "EducationInfo",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateFamilyEducationInformation?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                KnownMember: {
                    title: "KnownMember",
                    sorting: false,
                    display: function (data) {
                        return "<div class='text-center'><a href='/MemberSurvey/CreateSurveyKnownMember?sCode=" + data.record.SurveyCode + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                    }
                },
                Delete: {
                    title: "Delete",
                    display: function (data) {
                        return '<div class="text-center"><a href="#" OnClick="InformationDelete(' + data.record.SurveyId + ');"><i class="fa fa-trash-o"></i></a></div>';
                    }

                }
                
                //EditLink: {
                //    title: "Edit",
                //    sorting: false,
                //    display: function (data) {
                //        return '<div class="text-center"><a href="#" OnClick="EditTada(' + "'" + data.record.SurveyId + "'" + ');"><i class="fa fa-pencil-square-o"></i></a></div>';
                //    }
                //},
                //Delete: {
                //    title: "Delete",
                //    display: function (data) {
                //        return '<div class="text-center"><a href="#" OnClick="InformationDelete(' + data.record.SurveyId + ');"><i class="fa fa-trash-o"></i></a></div>';
                //    }

                //},
            }
        });
        $('#grid').jtable('load');

    });



    function InformationDelete(Id) {
        $.alert.open('confirm', 'Are you sure you want to delete this record?', function (button) {
            if (button == 'yes') {
                $.ajax({
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("InformationDeleteMemberBasicInfo", "MemberSurvey", "http")',
                    data: { Id: Id },
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#grid').jtable('load');
                            $.alert.open("Error", data.message);
                        } else {
                            $.alert.open("Error", data.message);
                        }

                    },
                    error: function (request, status, error) {
                        alert(request.statusText + "/" + request.statusText + "/" + error);
                    }
                });
                return true;
            }
            else {
                hiddenField.value = 'false';
                return false;
            }
        });
    }



    //function EditTada(){
    //    alert(data.record.SurveyId);
    //}
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}