@model gBanker.Web.ViewModels.DayInitialViewModel
@{
    ViewBag.Title = "Start Work Process";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var office = Model == null ? null : Model.officeListItems;
}



<script type="text/javascript">

    function displayLoanSummaryReport()
    {

        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var reportParam = startDate + ',' + endDate;
        var url = '/Report/Print?reportId=LoanSummary&reportparams=' + reportParam;
        window.open(url, "_blank");
    }

    function displayProductReport() {

        var processtDate = $("#processtDate").val();
        var endDate = $("#endDate").val();
        var reportParam = startDate + ',' + endDate;
        var url = '/Report/Print?reportId=Product&reportparams=' + reportParam;
        window.open(url, "_blank");
    }

    function initiateDayInitial() {
      //  e.preventDefault();
        var officeId = $("#OfficeId").val();
        var businessDate = $("#BusinessDate").val();

        $("#loading").show();

        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("DayInitialProcess", "FixedAsset", "http")',
            data: { officeId: officeId, businessDate: businessDate },
            dataType: 'json',
            async: false,
            success: function (data) {
                debugger;
                if (data.result == 1) {
                    $.alert.open("Success", data.message);
                } else {
                    $.alert.open("Error", data.message);
                }
            }
            //    $("#loading").hide();
            //    var msg = "Work process successful";
            //    var css = "success";
            //    if (data.Message != null) {
            //        msg = data.Message;
            //        css = "failed"
            //    }

            //    $("#dvMessage").attr('class', css);
            //    $("#dvMessage").html(msg);
            //    $("#dvMessage").show();
            //    if (data.Message == null)
            //        $("#dvMessage").toggle('fade', 1500);

            //},
            //error: function (request, status, error) {
            //    $("#loading").hide();
            //    $("#dvMessage").attr('class', 'failed');
            //    $("#dvMessage").html(request.statusText);
            //    $("#dvMessage").show();
            //}
        });
    }
    $(document).ready(function () {

        $("#confirmDlg").dialog({
            autoOpen: false,
            height: 150,
            width: 400,
            modal: true,
            title:'Confirmation',
            buttons: {
                "Yes": function () {
                    initiateDayInitial();
                    $(this).dialog("close");
                },
                "No": function () {
                    //alert("No Office selected. Employee office will be used.");
                    $(this).dialog("close");
                }
            }
        });

        $('#BusinessDate').bind('focus', function (e) {
            $("#dvMessage").hide();
        });
        $("#OfficeId").change(function () {
            var officeId = $("#OfficeId").val();
        });

        $('#btnProcess').click(function (e) {
            debugger;
            e.preventDefault();
            var officeId = $("#OfficeId").val();
            var bdate = $("#BusinessDate").val();           
            var dd = confirm("Do you want to initial day at " + bdate.toString() + "?");
            if (dd == true) {
                $.ajax({
                    type: "GET", 		//GET or POST or PUT or DELETE verb
                    url: '/FixedAsset/DayInitialProcess', 		// Location of the service
                    data: { officeId: officeId, businessDate :bdate}, 		//Data sent to server
                    dataType: "json", 	//Expected data format from server
                    processdata: false, 	//True or False
                    async:false,
                    success: function (data) {//On Successful service call                    
                        $.alert.open('success', data.message);                      
                    },
                    error: function (result) {
                        $.alert.open('error', result);
                    }
                });
            } else {
                return false;
            }
        
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
       // $("#BusinessDate").datepicker();
        gBankerDatePicker("BusinessDate");
    });


</script>
<h2 class="page-title">Fixed Asset Start Work Process</h2>


<div id="confirmDlg" style="display:none">
    <div class="form-group">
        <label id="lblMsg"></label>

    </div>

</div>
@*<div id="confirmDlg" style="display:none">
        <div class="form-group">
            Do you want to run the Work Process? " + bdate.toString();
        </div>

    </div>*@

<div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.OfficeId, htmlAttributes: new { @class = "control-label" })

                    @*@Html.EditorFor(model => model.CenterID, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.OfficeId, office, new { @class = "form-control" })
                    @Html.Hidden("hfOfficeId")
                    @Html.ValidationMessageFor(model => model.OfficeId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessDate, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.BusinessDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
    @* BusinessDate Date:  <input type="text" id="BusinessDate" /> <br />*@
    <input id="btnProcess" type="button" value="Process" />
    @* <input type="button" value="Process" onclick="displayProductReport();" />*@
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/gbUtility")

}
