@model gBanker.Web.ViewModels.FixedAssetViewModel

@{
    ViewBag.Title = "Process";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script>
    $(document).ready(function () {
        $("#btnProcess").click(function () {
            $.ajax({
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("RunProcessFile", "FixedAsset", "http")',
                //data: { clientCategory: clientCategory },
                dataType: 'json',
                async: true,
                success: function (data) {
                    if (data.result == 1) {
                        $.alert.open("Success", data.message);                       
                    } else {
                        $.alert.open("Error", data.message);                       
                    }
                }

            });
        });
    });


</script>


<h2 class="page-title">Process File</h2>
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })      
    <div class="row">
        <div class="col-sm-offset-2">
            <input type="button" value="Process" id="btnProcess" class="btn btn-primary" />           
        </div>
    </div>
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/gbUtility")   
}
