@model IEnumerable<gBanker.Data.CodeFirstMigration.AccCorrection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<style type="text/css">
    th {
        height: 40px;
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    span.jtable-column-header-text {
        margin-top: 0px !important;
    }
</style>
<script type="text/javascript">

    function filterChanged()
    {
        var filterColumn = $("#filterColumn").val();
        if (filterColumn == "CreateDate") {
            $("#filterValue").datepicker(
            {
                dateFormat: "dd-M-yy",
                showAnim: "scale",
                buttonImage: '/images/calendar_icon.png'
            });
        }
        else {
            $("#filterValue").datepicker("destroy");
        }
        $("#filterValue").val('');
    }
    function GetEmpList() {
        var ddlProd = $("#ddlEmp");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetEmpList", "Audit", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (List_MemberwiseProduct) {
                console.log(List_MemberwiseProduct);
                ddlProd.html('');
                $.each(List_MemberwiseProduct, function (id, option) {
                    ddlProd.append($('<option></option>').val(option.CreateUser).html(option.EmpName));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }
    @*function GetEmpList() {
        var ddlEmp = $("#ddlEmp");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetEmpList", "Audit", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlEmp.html('');
                $.each(data, function (id, option) {
                    ddlEmp.append($('<option></option>').val(option.Value).html(option.Text));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }*@
    function GetOffList() {
        var ddlEmp = $("#ddlOff");
        $.ajax({
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("GetOffList", "Audit", "http")',
            data: {},
            dataType: 'json',
            async: true,
            success: function (data) {
                ddlEmp.html('');
                $.each(data, function (id, option) {
                    ddlEmp.append($('<option></option>').val(option.OfficeCode).html(option.OfficeName));
                });
            },
            error: function (request, status, error) {
                alert(request.statusText + "/" + request.statusText + "/" + error);
            }
        });
    }
    $(document).ready(function () {
        GetEmpList();
        GetOffList();
        $("#txtFromDt").datepicker(
      {
          dateFormat: "dd-M-yy",
          showAnim: "scale"
      });
        $("#txtToDt").datepicker(
            {
                dateFormat: "dd-M-yy",
                showAnim: "scale"
            });

        $('#txtFromDt').val($.datepicker.formatDate("dd-M-yy", new Date()))
        //$('#txtToDt').val($.datepicker.formatDate("dd-M-yy", new Date()))
        $('#txtToDt').val($.datepicker.formatDate("dd-M-yy", new Date()))

        ////////////////////////
        $('#grid').jtable({
           // title: 'LoanSummary List',
            paging: true,
            pageSize: 20,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: function (postData, jtParams) {
                    console.log("Loading from custom function...");
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/Audit/GetLogRecords?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
             

            },
            fields: {
                OfficeCode: {
                    title: 'Office Code',
                    width: '10%'
                },
                EmployeeCode: {
                    title: 'User Code',
                    width: '10%'
                },
                EmpName: {
                    title: 'User Name',
                    width: '10%'
                },
                TransferTrxDate: {
                    title: 'Prev. Date',
                    type: 'date',
                    displayFormat: 'dd-M-yy',
                },
                AccCode: {
                    title: 'Account Code',
                    width: '8%'
                },
                AccName: {
                    title: 'Account Name',
                    width: '18%'
                },
                Debit: {
                    title: 'Prev.Debit',
                    width: '18%'
                },
                Credit: {
                    title: 'Prev.Credit',
                    width: '18%'
                },
                CurrentAccCode: {
                    title: 'Cur.Account Code',
                    width: '8%'
                },
                CurrentAccName: {
                    title: 'Cur.Account Name',
                    width: '18%'
                },
                CurrentDebit: {
                    title: 'Cur.Debit',
                    width: '18%'
                },
                CurrentCredit: {
                    title: 'Cur.Credit',
                    width: '18%'
                },
                CreateDate: {
                    title: 'Create. Date',
                    type: 'date',
                    displayFormat: 'dd-M-yy',
                },
                //EditLink: {
                //    title: "Detail",
                //    display: function (data) {
                //        return "<div class='text-center'><a href='/Audit/Detail/" + data.record.ApplicationLogId + "'><i class='fa fa-pencil-square-o'></i></a></div>";

                //     }
                //}
            }
        });
        reloadGrid();
        ////////////////////////

    });

    function reloadGrid() {
        //$('#grid').jtable('load', { filterColumn: $('#filterColumn').val(), filterValue: $('#filterValue').val() });
        $('#grid').jtable('load', { dateFrom: $('#txtFromDt').val(), dateTo: $('#txtToDt').val(), Office: $('#ddlOff').val(), user: $('#ddlEmp').val() });
    }
</script>


<h2 class="page-title">Accounts Audit Trail</h2>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Date From</label>
            @Html.TextBox(" ", null, new { @ID = "txtFromDt", @style = "width:150px; height:35px;" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Date To</label>
            @Html.TextBox(" ", null, new { @ID = "txtToDt", @style = "width:150px; height:35px;" })
        </div>
    </div>
   
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">User</label>
           
            @Html.DropDownList("EmpList", null, new { @ID = "ddlEmp", @style = "width:170px; height:35px;" })
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Office</label>
          
            @Html.DropDownList("OffList", null, new { @ID = "ddlOff", @style = "width:175px; height:35px;" })
        </div>
    </div>

    <div class="col-md-2" style="padding-top:22px;">
        <input type="button" id="btnSearch" value="Search" class="btn btn-primary" onclick="reloadGrid();" />
    </div>
</div>


<br />
<div id="grid"></div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}



