@model gBanker.Web.ViewModels.TodaysSummaryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var office = Model == null ? null : Model.officeListItems;
}

<h2 class="page-title">Todays Summary</h2>

<script type="text/javascript">

    function displayLoanSummaryReport() {

        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var reportParam = startDate + ',' + endDate;
        var url = '/Report/Print?reportId=LoanSummary&reportparams=' + reportParam;
        window.open(url, "_blank");
    }

    function displayProductReport() {

        var processtDate = $("#processtDate").val();
        var endDate = $("#endDate").val();
        var reportParam = startDate + ',' + endDate;
        var url = '/Report/Print?reportId=Product&reportparams=' + reportParam;
        window.open(url, "_blank");
    }
    $(document).ready(function () {

        $("#OfficeId").change(function () {
            var officeId = $("#OfficeId").val();
        });


        $('#btnPreview').click(function (e) {
            e.preventDefault();
            var startDate = "24/11/2012";
            var endDate = "30/11/2012";
            var url = '/TodaysSummary/GenerateTodaysSummaryReport?officeId=' + $("#OfficeID").val() + '&businessDate=' + $("#BusinessDate").val();
            window.open(url, 'mywindow', 'fullscreen=yes, scrollbars=auto');

           
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        gBankerDatePicker("BusinessDate");
    });


</script>

<div>
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*<h2>Today's Summary</h2>*@
        <div class="form-group">
            @Html.LabelFor(model => model.OfficeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.DropDownListFor(model => model.OfficeID, office)
                @Html.Hidden("hfOfficeId")
                @Html.ValidationMessageFor(model => model.OfficeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusinessDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessDate, "", new { @class = "text-danger" })
            </div>
        </div>

    }
  
    <input id="btnPreview" type="button" value="Process" />
  
  
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/gbUtility")

}
